<div class="outer-flex">
  
<div style="margin-left:1%; width:7%; font-size:15px; font-weight:bold;">

        <img  *ngIf="selected" src="../../assets/images/check.png" class="icon">
  
 9:30 AM
</div>
<div style="border-top-style:dashed; border-width:thin; border-color:grey; width:90%; align-self:center;">
 
</div>
</div>

<div class="flex-container" *ngIf="swap || !display">
 
  <div *ngIf="showImage">
 <img class="img-fluid item" alt="Responsive image" src="../../assets/images/6.jpg">
  </div>
  <div *ngIf="!adjust" class="middle-flex" style="width:65%; ">
      <div style="font-size:12.5px; font-weight:bold;">
       
       CINE+
      </div>
      <div style="font-size:20px; font-weight:bold;">
       WONDERS OF THE ARCTIC
      </div>
      <div *ngIf="showDescription" style="margin-bottom:2%; "> 
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
         Aenean commodo ligula eget dolor. Aenean massa. 
         Cum sociis natoque penatibus et magnis dis parturient montes,
         Aenean massa. 
         Cum sociis natoque penatibus et magnis dis parturient montes,
         Aenean massa. 
         Cum sociis natoque penatibus et magnis dis parturient montes,
      </div>
      <div style="font-size:12.5px">
        45 Minutes, Cine+
      </div>
     </div>
  <div *ngIf="adjust" class="middle-flex" style="width:65%;">
   <div style="font-size:12.5px; font-weight:bold;">
    
    CINE+
   </div>
   <div style="font-size:20px; font-weight:bold;">
    WONDERS OF THE ARCTIC
   </div>
   <div style="margin-bottom:2%; "> 
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
      Aenean commodo ligula eget dolor. Aenean massa. 
      Cum sociis natoque penatibus et magnis dis parturient montes,
      Aenean massa. 
      Cum sociis natoque penatibus et magnis dis parturient montes,
      Aenean massa. 
      Cum sociis natoque penatibus et magnis dis parturient montes,
   </div>
   <div style="font-size:12.5px">
     45 Minutes, Cine+
   </div>
  </div>
  <div *ngIf="showTools" style="align-self: center; margin-right:5%" class="inner-flex">
   <div style="margin-right:50px"><div *ngIf="!details"><a href="javascript: void(0)"><img src="../../assets/images/info.png"  (click)="toggleDetails()" class="icon"></a></div>
   <div *ngIf="details"><a href="javascript: void(0)"><img src="../../assets/images/cancel.png"  (click)="toggleDetails()" class="icon"></a></div>
   <div style="font-weight:bold; font-size:12.5px">DETAILS</div></div>
  
    <div><div><a href="javascript: void(0)"><img src="../../assets/images/undo.png" (click)="toggleSwap()" class="icon"></a></div><div style="font-weight:bold; font-size:12.5px">SWAP</div></div>
  </div>
</div>
  <div *ngIf="details && swap" style="margin-left:19%; width:60%;">
   <div style="font-size:17px; font-weight:bold;">
     DETAILS
   </div>
   <div style="margin-top:2%; font-size:13px">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
      Aenean commodo ligula eget dolor. Aenean massa. 
      Cum sociis natoque penatibus et magnis dis parturient montes,
      Aenean massa. 
      Cum sociis natoque penatibus et magnis dis parturient montes,
      Aenean massa. 
      Cum sociis natoque penatibus et magnis dis parturient montes,
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
      Aenean commodo ligula eget dolor. Aenean massa. 
      Cum sociis natoque penatibus et magnis dis parturient montes,
      Aenean massa. 
      Cum sociis natoque penatibus et magnis dis parturient montes,
      Aenean massa. 
      Cum sociis natoque penatibus et magnis dis parturient montes,
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          Aenean commodo ligula eget dolor. Aenean massa. 
          Cum sociis natoque penatibus et magnis dis parturient montes,
          Aenean massa. 
          Cum sociis natoque penatibus et magnis dis parturient montes,
          Aenean massa. 
          Cum sociis natoque penatibus et magnis dis parturient montes,</p>
   </div>

   <div style="font-size:17px; font-weight:bold; margin-top:3%">
     CURRICULUM CONNECTIONS
   </div>
   <div style="margin-top:2%; font-size:13px; ">
   <ul>
     <li class="list">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
     <li class="list">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
   </ul>
  </div>
  </div>



  <div class="alt-flex" *ngIf="!swap && display">
  <div style="width:98%; margin-left:0%; margin-top:1%">
      <div class="row" >
    <div class="activity-card" *ngFor="let image of images"> 
        <app-activity-card [image]="image" (click)="toggleSwap()"></app-activity-card>
    </div>
  </div>
 </div>
 
</div>