


<div>
  <app-header></app-header>
</div>

<div class="container-fluid">
  <div style="margin-left:2%;">
 <div class="content-title">
   DESIGN YOUR ITINERARY
 </div>
 <div class="description">
   Build your itinerary...your way! Choose from our programs for each timeslot of your visit
 </div>
 </div>
</div>

<div class="pad">
<div class="sub-header">
  FIRST AVE. GRADE 3 CLASS - ITINERARY 1
</div>
</div>

<div class="container-fluid" style="margin-left:2%;">
  <div  style="font-weight:bold; font-size:25px; margin-top:2%;">
<div class="activity-title" > 
ITINERARY
</div>
<div *ngIf="!set" class="reset">
    <a href="javascript:void(0)" (click)="reset()">Reset</a>
  </div>
  </div>
<div *ngIf="!set">
    <div *ngIf='!isEdit' class="activity">
        <app-activity *ngFor="let item of items | async" [item]="item" [time]="time" (index)="populate($event)" (activity)="getActivity($event)" [set]="set" (remove)="remove($event)"></app-activity>
       </div>
       
       <div *ngIf='isEdit' class="activity">
        <app-activity *ngFor="let item of items" [selectedItem]="item" [time]="time"  [swap]='swap' [display]='display' [showTools]='showTools' [edited]='edited' [set]="set" [selected]='selected' (index)="populate($event)" (activity)="getActivity($event)" (remove)="remove($event)"></app-activity>
       </div>  
</div>
<div *ngIf="set">
    <div *ngIf='!isEdit' class="activity">
        <app-activity *ngFor="let itinerary of itineraries" [itinerary]="itinerary" [item]="item" [time]="time" (index)="populate($event)" (activity)="getActivity($event)" [set]="set" (remove)="remove($event)"></app-activity>
       </div>
       
       <div *ngIf='isEdit' class="activity">
        <app-activity *ngFor="let itinerary of itineraries" [itinerary]="itinerary" [selectedItem]="item" [time]="time"  [swap]='swap' [display]='display' [showTools]='showTools' [edited]='edited' [set]="set" [selected]='selected' (index)="populate($event)" (activity)="getActivity($event)" (remove)="remove($event)"></app-activity>
       </div>  
</div>
</div>

<div style="width:100%">
  <app-sticky-footer [count]="count" [page]="page" [set]="set"></app-sticky-footer>
</div>