<div>
  <app-header></app-header>
</div>

<div class="container-fluid">
  <div style="margin-left:2%; margin-top:2%;">
 <div style=" font-weight:bold; font-size:50px;">
   DESIGN YOUR ITINERARY
 </div>
 <div style="font-size:15px;">
   Build your itinerary...your way! Choose from our programs for each timeslot of your visit
 </div>
 </div>
</div>

<div style="background-color:#F0F0F0; height:200px; margin-top:2%; padding:2%;">
<div style="background-color:white; height:120px; padding:1.5%;"><div style="font-size:40px;  ">
  FIRST AVE. GRADE 3 CLASS - ITINERARY 1</div>
</div>
</div>

<div class="container-fluid" style="margin-left:2%;">
<div style="font-weight:bold; font-size:25px; margin-top:2%;">
ITINERARY
</div>
<div>
    <div class="activity">
        <app-activity></app-activity>
       </div>
       <div class="activity">
               <app-activity></app-activity>
              </div>
              <div class="activity">
                   <app-activity></app-activity>
                  </div>
                  <div class="activity">
                       <app-activity></app-activity>
                      </div>
       
</div>
</div>

<div style="width:100%">
  <app-sticky-footer [page]="page"></app-sticky-footer>
</div>