.content-title{
font-family: "futura-pt", "Helvetica Neue", Arial;
font-weight:bold;
font-size:3rem;
color:#4a4a4a
}

.description{
font-family:Arial;
font-size:1rem;
color:#4a4a4a
}

.pad{
 background-color:#e5e5e5; 
 height:145px; 
 margin-top:2%; 
 padding:1.5%;
}

.sub-header{
background-color:white; 
font-family: "futura-pt", "Helvetica Neue", Arial;
font-size:2rem;
font-weight:bold;
color:#4a4a4a;
height:100px; 
padding:1.5%;
}

.activity-title{
    font-family: "futura-pt", "Helvetica Neue", Arial;
font-weight:bold; 
font-size:25px;
}

.activity{
    width:100%;
    margin-bottom:2%;
}

.reset{
font-family: "futura-pt", "Helvetica Neue", Arial;
font-weight:bold;
font-size:20px; 
float:right; 
margin-right:2%
}

.stick{
    position:fixed;
    bottom:0;
    width:100%;
}

.bg{
    height:90px;
    border-style:solid;
 }
 
 a:link {
    text-decoration: none;
    color:#4a4a4a;
  }
  