.img-resize{
  height:800px;
  width:100%;
}

.margin{
    margin-bottom:3%;
    height:380px;
    width:32.8%;
    font-size:13px;
   
}


.empty-card{
    height:380px; 
    width:32.8%;
    font-size:13px;

   
}