<div>
  <app-main-header></app-main-header>
</div>

<div class="container-fluid" style="padding:0%">

<div  style="margin-top:2%; margin-left:1%;">
  <div style="float:left; font-size:12px; font-weight:bold;">PLAN YOUR VISIT testing update to heroku</div>
  <div style="width:0;height: 0; border-top: 4.5px solid transparent; border-left: 6px solid black; 
  border-bottom: 4.5px solid transparent; float:left; margin-left:20px; margin-top:4px;"></div>
</div>
<br>
<div style="margin-right:2%; margin-left:1.5%;">
  <div style="float:left; font-weight:bold; font-size:50px;">
    PLAN A SCHOOL TRIP
  </div>
  <div style="float:right; margin-top:1%;">
      <div style="float:left; font-size:25px; font-weight:bold; color:#808080">PLAN YOUR VISIT</div>
      <div style="width:0;height: 0; border-top: 8px solid transparent; border-left: 12px solid #808080; 
      border-bottom: 8px solid transparent; float:left; margin-left:20px; margin-top:12px;"></div>
    </div>
</div>

<div >
  <img src="../../assets/images/landing.jpg" class="img-responsive img-resize">
</div>


<div style="margin-left:2%; margin-top:2%;">
<div style=" font-weight:bold; font-size:35px;">
    PLAN YOUR DAY AT THE MUSEUM
  </div>
<div style="font-size:17px; width:50%; margin-top:0.8%">
    Lorem ipsum dolor sit amet, mel wisi justo salutandi ut, in blandit tacimates adipiscing mel. Cum et bonorum noluisse. Vel id quem laoreet insolens, 
    , erant dissentiet ea usu, eam in liber alterum. Mel debitis appetere honestatis eu, vel facete discere an. Cum ex unum atqui, habeo eligendi his an
    <br><br>
    Get started with our sample iteneraries below or build your own.
</div>
</div>

</div>


  <div style="margin-left:2%; margin-top:2%">
        <div class="row" style="margin-bottom:2%; margin-left:0.1%">
            <div style="font-weight:bold; margin-top:8px;">FILTER ITENERARIES:</div>
          <div class="input-group" style="width:12%; margin-left:1%;">
                  <select class="custom-select" id="inputGroupSelect04" style="font-weight:bold; font-size:13px">
                    <option selected>All Grades </option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="input-group" style="width:12%; margin-left:1%;">
                      <select class="custom-select" id="inputGroupSelect04" style="font-weight:bold; font-size:13px">
                        <option selected >All Date Ranges</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="input-group" style="width:12%;margin-left:1%;">
                          <select class="custom-select" id="inputGroupSelect04" style="font-weight:bold; font-size:13px">
                            <option selected >Half-day and full-day</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                        <div style="width:8%; margin-left:1%; height:35px; font-size:12px; font-weight:bold; border-style:solid; padding:0.4%;">
                            SHOW THE RESULTS
                        </div>
                      </div>
           
  <div class="row" style="margin-left:0%;">
          <div  class="empty-card" >
          <app-empty-card></app-empty-card>
          </div>
  <div class="margin" >
  <app-card></app-card>
  </div>
  <div class="margin" >
          <app-card></app-card>
          </div>
          <div class="margin" >
                  <app-card></app-card>
                  </div>
                  <div class="margin" >
                          <app-card></app-card>
                          </div>
                          <div class="margin" >
                                  <app-card></app-card>
                                  </div>
                                  <div class="margin" >
                                      <app-card></app-card>
                                      </div>
                                      <div class="margin" >
                                              <app-card></app-card>
                                              </div>
                                              <div class="margin" >
                                                      <app-card></app-card>
                                                      </div>
                                  

</div>

<nav aria-label="...">
    <ul class="pagination pagination-lg">
      <li class="page-item" style="margin-right:0.5%;">
        <a class="page-link" href="#" tabindex="-1">1</a>
      </li>
      <li class="page-item" style="margin-right:0.5%;"><a class="page-link" href="#">2</a></li>
      <li class="page-item" style="margin-right:0.5%;"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
</div>

<div>
  <app-main-footer></app-main-footer>
</div>
