.img-resize{
  height:auto;
  width:100%;
  object-fit:cover;
}

.margin{
    margin-bottom:3%;
    height:380px;
    width:32.8%;
    font-size:13px;
   
}

.empty-card{
    height:380px; 
    width:32.8%;
    font-size:13px;
}
.content-title{  
padding:15px;
padding-bottom:0;
margin-bottom: 20px;
clear: both;

}
.pointer{
width:0;
height:0; 
border-top:8px solid transparent; 
border-left: 12px solid #808080; 
border-bottom: 8px solid transparent; 
float:left; 
margin-left:20px; 
margin-top:12px;
}
.plan1{
float:left; 
font-size:12px; 
font-weight:bold;
font-family: "futura-pt"
}
.plan2{
float:left; 
font-weight:bold;
font-size:3rem;
color:#4a4a4a;
font-family: "futura-pt"
}
.plan3{
float:left; 
font-size:25px; 
font-weight:bold;
color:#8a8d8a;
font-family: "futura-pt"
}
.text1{
color:#4a4a4a; 
margin-top:2%;
padding:15px;
}
.text2{

padding-bottom:0;
margin-bottom: 20px;
font-size:3rem;
clear: both;
color:#4a4a4a;
font-family: "futura-pt"
}
.text3{

padding-bottom:0;
margin-bottom: 20px;
font-size:1rem;
font-weight:lighter;
clear: both;
color:#4a4a4a;
font-family: Arial;
}

.filter{
margin-left:1.5%; 
margin-top:2%;  
}
.filtertext{
font-weight:bold; 
margin-top:8px;
}
.filter2{
margin-bottom:2%;
 margin-left:0.1%;
}
.grade{
font-weight:bold; 
margin-top:8px;

}
.grades{
   width:15%;
    margin-left:1%;
    height:10px
    
}
.select{
font-weight:bold; font-size:13px
}
.date{
width:15%; margin-left:1%;
}
.day{
width:15%;margin-left:1%;
height:10px
}
.show{
width:15%; 
margin-left:1%; 

}
@media only screen and (max-width: 1300px) {
  
.grades{
    width:26%;
     margin-left:1%;
 }
 .date{
 width:26%; margin-left:1%;
 }
 .day{
 width:26%;margin-left:1%;
 }  
 
 .show{
    width:12%; 
    margin-left:46%;
    margin-top:1%;
    }
  }

@media only screen and (max-width: 1220px) {
    .margin{
        margin-bottom:5%;
        height:380px;
        width:49%;
        font-size:13px;
       
    }

    .empty-card{
        height:380px; 
        width:49%;
        font-size:13px;
    
       
    }

  }

  @media only screen and (max-width: 1024px) {
    
    .plan1{
        float:left; 
        font-size:12px; 
        font-weight:bold;
        font-family: "futura-pt"
        }
        .plan2{
        float:left; 
        font-weight:bold;
        font-size:1.5rem;
        color:#4a4a4a;
        font-family: "futura-pt"
        }
        .plan3{
        float:left; 
        font-size:1rem; 
        font-weight:bold;
        color:#8a8d8a;
        font-family: "futura-pt"
        }
        .pointer{
            width:0;
            height:0; 
            border-top:8px solid transparent; 
            border-left: 8px solid #808080; 
            border-bottom: 5px solid transparent; 
            float:left; 
            margin-left:10px; 
            margin-top:6px;
            }
       
        .text2{
        padding-bottom:0;
        margin-bottom: 10px;
        font-size:1.5rem;
        clear: both;
        color:#4a4a4a;
        font-family: "futura-pt"
        }
        .text3{
        padding-bottom:0;
        margin-bottom: 20px;
        font-size:1rem;
        font-weight:lighter;
        clear: both;
        color:#4a4a4a;
        font-family:Arial;
        }

  }
  


  @media only screen and (max-width: 1006px) {
      
    .img-resize{
        height:250px;
        width:100%;
        object-fit:cover;
      }
      

    .filtertext{
        font-weight:bold; 
        margin-top:8px;
        margin-left:37%;
        }
    .grades{
        width:95%;
         margin-left:1%;
         
     }
     .date{
     width:95%; 
     margin-left:1%;
     margin-top:4%;
    
     }
     .day{
     width:95%;
     margin-left:1%;
     margin-top:1.5%;
  
     }  
     
     .show{
        width:95%; 
        margin-left:1%;
        margin-top:4%;
  
        }
      }


@media only screen and (max-width: 1000px) {
    .margin{
        margin-bottom:3%;
        height:380px;
        width:49%;
        font-size:13px;
       
    }

    .empty-card{
        height:380px; 
        width:49%;
        font-size:13px;
    
    }

    

        
  }

  @media only screen and (max-width: 850px) {
    .margin{
        margin-bottom:5%;
        height:380px;
        width:49%;
        font-size:13px;
       
    }

    .empty-card{
        height:380px; 
        width:49%;
        font-size:13px;
    
       
    }
    .grades{
        width:95%;
         margin-left:1%;
         
     }
     .date{
     width:95%; 
     margin-left:1%;
     margin-top:4.2%;
    
     }
     .day{
     width:95%;
     margin-left:1%;
     margin-top:1.5%;
  
     }  
     
     .show{
        width:95%; 
        margin-left:1%;
        margin-top:4%;
  
        }
  
  }

  @media only screen and (max-width: 750px) {
    .margin{
        margin-bottom:8%;
        height:380px;
        width:49%;
        font-size:13px;
       
    }

    .empty-card{
        height:380px; 
        width:49%;
        font-size:13px;
    
       
    }
    .grades{
        width:95%;
         margin-left:1%;
         
     }
     .date{
     width:95%; 
     margin-left:1%;
     margin-top:5%;
    
     }
     .day{
     width:95%;
     margin-left:1%;
     margin-top:1.5%;
  
     }  
     
     .show{
        width:95%; 
        margin-left:1%;
        margin-top:5%;
  
        }
     
  }

  @media only screen and (max-width: 650px) {
    .margin{
        margin-bottom:10%;
        height:380px;
        width:50%;
        font-size:13px;
       
    }

    .empty-card{
        height:380px; 
        width:49%;
        font-size:13px;
    
       
    }

    .grades{
        width:95%;
         margin-left:1%;
         
     }
     .date{
     width:95%; 
     margin-left:1%;
     margin-top:5.5%;
    
     }
     .day{
     width:95%;
     margin-left:1%;
     margin-top:1.5%;
  
     }  
     
     .show{
        width:95%; 
        margin-left:1%;
        margin-top:5.5%;
  
        }

  }

   
  @media only screen and (max-width: 600px) {
    .img-resize{
        height:200px;
        width:100%;
        object-fit:cover;
      }
      

    .margin{
        margin-bottom:8%;
        height:380px;
        width:95%;
        font-size:13px;
       
    }

    .empty-card{
        height:380px; 
        width:95%;
        font-size:13px;
        margin-bottom:3%;
       
    }

    .filtertext{
        font-weight:bold; 
        margin-top:8px;
        margin-left:1%;
        }

        .grades{
            width:95%;
             margin-left:1%;
             
         }
         .date{
         width:95%; 
         margin-left:1%;
         margin-top:6%;
        
         }
         .day{
         width:95%;
         margin-left:1%;
         margin-top:1.5%;
      
         }  
         
         .show{
            width:95%; 
            margin-left:1%;
            margin-top:6%;
      
            }
      
    
  }

  /* @media only screen and (max-width: 480px) {
    .margin{
        margin-bottom:8%;
        height:380px;
        width:98%;
        font-size:13px;
       
    }

    .empty-card{
        height:380px; 
        width:98%;
        font-size:13px;
        margin-bottom:3%;
       
    }

    .filtertext{
        font-weight:bold; 
        margin-top:8px;
        margin-left:0%;
        }

        .grades{
            width:92%;
             margin-left:1%;
             
         }
         .date{
         width:92%; 
         margin-left:1%;
         margin-top:7%;
        
         }
         .day{
         width:92%;
         margin-left:1%;
         margin-top:1.5%;
      
         }  
         
         .show{
            width:92%; 
            margin-left:1%;
            margin-top:7%;
      
            }
      
    
  } */
  @media only screen and (max-width: 414px) {
    .margin{
        margin-bottom:12%;
        height:380px;
        width:95%;
        font-size:13px;
       
    }

    .plan1{
        float:left; 
        font-size:12px; 
        font-weight:bold;
        }
        .plan2{
        float:left; 
        margin-left:10px;
        font-weight:bold; font-size:28px;
        }
        .plan3{
        float:left; 
        font-size:0px; 
        font-weight:bold; 
        color:"#808080";
        }

    .empty-card{
        height:380px; 
        width:92%;
        font-size:8px;
        margin-bottom:8%;
       
    }


    .text1{

        margin-left:1%; 
        margin-top:2%;
        }
        .text2{
        font-weight:bold; 
        font-size:25px;
        margin-left:1%; 
        }
        .text3{
        font-size:12px; 
        margin-left:1%;
        width:80%; 
        margin-top:0.8%;
        
        }

        .grades{
            width:92%;
             margin-left:1%;
             
         }
         .date{
         width:92%; 
         margin-left:1%;
         margin-top:9%;
         
        
         }
         .day{
         width:92%;
         margin-left:1%;
         margin-top:2.7%;
      
         }  
         
         .show{
            width:92%; 
            margin-left:1%;
            margin-top:9%;
      
            }
          


  }
  @media only screen and (max-width: 375px) {
    .margin{
        margin-bottom:12%;
        height:380px;
        width:95%;
        font-size:13px;
       
    }

    .plan1{
        float:left; 
        font-size:12px; 
        font-weight:bold;
        }
        .plan2{
        float:left; 
        font-weight:bold; font-size:25px;
        }
        .plan3{
        float:left; 
        font-size:0px; 
        font-weight:bold; 
        color:"#808080";
        }

    .empty-card{
        height:380px; 
        width:92%;
        font-size:8px;
        margin-bottom:8%;
       
    }


    .text1{

        margin-left:1%;
        margin-top:2%;
        }
        .text2{
         margin-left:1%; 
        font-weight:bold; 
        font-size:25px;
        }
        .text3{
        margin-left:1%; 
        font-size:12px; 
        width:80%; 
        margin-top:0.8%;
        
        }

        .grades{
            width:92%;
             margin-left:1%;
             
         }
         .date{
         width:92%; 
         margin-left:1%;
         margin-top:9%;
         
        
         }
         .day{
         width:92%;
         margin-left:1%;
         margin-top:2.2%;
      
         }  
         
         .show{
            width:92%; 
            margin-left:1%;
            margin-top:9%;
      
            }
          }
    

  @media only screen and (max-width: 320px) {
    .margin{
        margin-bottom:12%;
        height:380px;
        width:95%;
        font-size:13px;
       
    }

    .plan1{
        float:left; 
        font-size:12px; 
        font-weight:bold;
        }
        .plan2{
        float:left; 
        font-weight:bold; font-size:25px;
        }
        .plan3{
        float:left; 
        font-size:0px; 
        font-weight:bold; 
        color:"#808080";
        }

    .empty-card{
        height:380px; 
        width:92%;
        font-size:8px;
        margin-bottom:8%;
       
    }


    .text1{

        margin-left:1%;
        margin-top:2%;
        }
        .text2{
        font-weight:bold; 
        font-size:25px;
        margin-left:1%;
        }
        .text3{
        font-size:12px; 
        width:80%; 
        margin-top:0.8%;
        margin-left:1%;
        
        }

        .grades{
            width:92%;
            
             
         }
         .date{
         width:92%; 
         margin-top:9%;
         
        
         }
         .day{
         width:92%;
         margin-top:1.5%;
      
         }  
         
         .show{
            width:92%; 

            margin-top:9%;
      
            }
          }
    