
<div>
  <app-main-header></app-main-header>
  <div class="my-header"><div class="h1"> PLAN A SCHOOL TRIP</div>
  
  <div class="h2"> PLAN YOUR DAY AT THE MUSEUM</div>
  <div class="h3"> <div class="my-btn" (click)="navigateToBrowsePage()">BROWSE ITINERARIES</div><div class="my-btn">CREATE YOUR OWN</div></div>

</div>

<div class="my-container">
  <div class="my-bg" >
    <img src="http://res.cloudinary.com/dqhtbev7t/image/upload/v1530731962/IMG2018-0032-0215-Dm.jpg" class="img-resize"> 


  
  
  </div>



  </div>
  
</div>
<div>
  <app-main-footer></app-main-footer>
</div>


 

