<div class="flex">
    <div class="time">
    <div class="first1"><span class="value">{{itinerary.time}}</span></div>
    <div class="second1"></div>
    
    </div>
    
    
    
    <div class="img">
      <img class="img-responsive img" src="{{itinerary.img}}">
    
    </div>
    
    <div class="textt">
    <div class="title1">{{itinerary.name}}</div>
    <div class="bod" ellipsis>
    {{itinerary.description}}
    </div>
    </div>
    
    
    <div class="icon">
    <div class="info">
      <img class="img-responsive img-res" src="../assets/images/info2.png">
    </div>
    <div class="det">
    Details
    </div>    
        </div>
    
    
    </div>
    