.flex{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    max-width:900px;
    height:170px;
    color:#4a4a4a;
  }
  
  .time{
  display:flex;
  flex-direction:row;
  width:7%;
  font-family: "futura-pt", "Helvetica Neue", Arial;
  
  }
  
  .first1{
    background-color:#fff;
  width:50%;
  height:25px;
  font-size:0.85rem;

  
  }

  .value{
    font-family:Arial;
      margin-left:5px;
      
  }
  .second1{
  width:50%;
  background-color:#e5e5e5;
  font-size:2rem;
  height:50px;
  cursor:pointer;

  }
  
  
  
  .img{
    border-style:dashed;
    border-width:1px;
    border-color:#8a8d8a;

      position:relative;
  height:150px;
  width:200px;

  }

  .new{
      margin:17%;
      text-decoration:underline;
      font-family: "futura-pt", "Helvetica Neue", Arial;
      font-weight:bold;
      color:#4a4a4a;
      font-size:0.9rem;
      cursor:pointer;

  }
  .btext{
      position:relative;
      font-family: "futura-pt", "Helvetica Neue", Arial;
  font-weight:bold;
  margin-bottom:1%;
  }

  .img-res{
  width:100%

  }

  .textt{
  width:55%;
  display:flex;
  flex-direction:column;
  margin-right:10px;
  }
  
  .title1{
  font-family: "futura-pt", "Helvetica Neue", Arial;
  font-weight:bold;
  margin-bottom:1%;
  }
  .bod{
    font-family:  Arial;
    font-weight:lighter;
  max-width:85%;
  height:90px;
  color:#8a8d8a;

  }
  
  .icon{
    font-family: "futura-pt", "Helvetica Neue", Arial;
  display:flex;
  flex-direction:column;
  margin-top:2%;
  visibility:hidden;

  }
  
  .img-res{
    object-fit:cover;
    height:20px;
    width:20px;
    margin-left:8px;
  }
.det{
    font-size:0.9rem;
    text-decoration:underline;
}


