.card-container{
    height:100%;
    width:100%;
    border-width:1px;
    border-style:solid;
    border-color:red;
    text-align:center;
    padding:5.5%;
    background-color:white;
    border-width:thick;
    border-style:dashed;
    word-wrap: break-word;
  }
  
  #new-btn {
    white-space: normal;
}

#footer{
  border-top-color:#E0E0E0;
  border-top-style:solid;
  border-top-width:thin;
  padding:6%;
 
}