<header class="app-header">
  <div class="app-header__wrapper">
    <main class="app-header__main">
      <a class="app-header__breadcrumb-link" href="#" (click)="$event.preventDefault()">
        {{'app_header.breadcrumb_link' | translate}}
        <i class="icon"></i>
      </a>
      <h1 class="app-header__heading">{{'app_header.heading' | translate}}</h1>
    </main>
    <nav class="app-header__nav">
      <ul>
        <!-- @ Elijah: Need a control structure for "on" class dependent of route perhaps? -->
        <!--
        <div *ngIf="bActive" class="my-btn1">{{'$b_text_browse' | translate}}</div>
        <div *ngIf="!bActive" class="my-btn">{{'$b_text_browse' | translate}}</div>
        <div *ngIf="cActive" class="my-btn1">{{'$b_text_create' | translate}}</div>
        <div *ngIf="!cActive" class="my-btn">{{'$b_text_create' | translate}}</div>
        Use this.. [ngClass]="{on: bActive}"
        -->
        <li>
          <a class="app-header__nav-button" [ngClass]="{on: route == 'create'}" href="javascript:void(0)" (click)="navigateToBrowsePage()">{{'app_header.btn_browse' | translate}}</a>
        </li>
        <li>
          <a class="app-header__nav-button" [ngClass]="{on: route == 'browse'}" href="javascript:void(0)" (click)="navigateToCreatePage()">{{'app_header.btn_create' | translate}}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>