<div class="contact-info">
    <div class="fieldset fieldset--text-input">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" />
    </div>
    <div class="fieldset fieldset--text-input">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" />
    </div>
    <div class="fieldset fieldset--text-input">
        <label for="school_institution">School / Institution</label>
        <input type="text" id="school_institution" name="school_institution" />
    </div>
    <div class="fieldset fieldset--text-input">
        <label for="num_attendees">Number of Attendees</label>
        <input type="text" id="num_attendees" name="num_attendees" />
    </div>
    <div class="fieldset fieldset--text-input">
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" />
    </div>
    <div class="fieldset fieldset--text-input">
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" />
    </div>
    <div class="fieldset">
        <h3>Preferred Method of Contact</h3>
        <label for="contact_method-phone"><input type="radio" name="contact_method" id="contact_method-phone" value="Phone" /> Phone</label>
        <label for="contact_method-email"><input type="radio" name="contact_method" id="contact_method-email" value="Email" /> Email</label>
    </div>
    <div class="fieldset">
        <h3>Preferred Time of Contact</h3>
        <label for="pref_time-from">From</label>
        <select name="pref_time-from" id="pref_time-from">
            <option value="9:30 AM">9:30 AM</option>
            <option value="10:30 AM">10:30 AM</option>
        </select>
        <label for="pref_time-to">To</label>
        <select name="pref_time-to" id="pref_time-to">
            <option value="4:00 PM">4:00 PM</option>
            <option value="7:00 PM">7:00 PM</option>
        </select>
    </div>
    <div class="fieldset">
        <label for="comments">Comments</label>
        <p>Let us know about about any special instructions 
        for contacting you or special needs for your group.</p>
        <textarea id="comments" name="comments"></textarea>
    </div>
</div><!--/.contact-info-->