
<div>
  <app-main-header></app-main-header>
 
<span class="plan">PLAN YOUR VISIT </span><span class="arrow-right"></span>
<div class="h1"> PLAN A SCHOOL TRIP</div>
  

  <div class="h3"> <div *ngIf="active" class="my-btn1">BROWSE</div>
  <div *ngIf="!active" class="my-btn">BROWSE</div>
  
  <div *ngIf="active" class="my-btn">CREATE</div>
  
</div>


<div class="my-container">
  <div class="my-bg" >
    <img src="http://res.cloudinary.com/dqhtbev7t/image/upload/v1530731962/IMG2018-0032-0215-Dm.jpg" class="img-resize"> 


  
  
  </div>



  </div>

<!-- <div class="text1">
<div class="text2" >
    PLAN YOUR DAY AT THE MUSEUM
  </div>
<div class="text3">
    Lorem ipsum dolor sit amet, mel wisi justo salutandi ut, in blandit tacimates adipiscing mel. Cum et bonorum noluisse. Vel id quem laoreet insolens, 
    , erant dissentiet ea usu, eam in liber alterum. Mel debitis appetere honestatis eu, vel facete discere an. Cum ex unum atqui, habeo eligendi his an
    <br><br>
    Get started with our sample iteneraries below or <a class="build" href="javascript:void(0)" (click)="open(content)"> build your own  </a>
</div>
</div>
 -->

<!-- <div class="card-title">VIEW OUR ITINERARIES</div> -->
<div class="content">
<div *ngIf="!set" class="side-bar">
<div class="first">
  <div style="float:left;margin:4%; font-size:1.5rem">Filter By</div>
 <div style="float:right; background:#8a8d8a; width:17%; text-align:center; padding:5px; margin:4%; color:#fff; font-size:0.7rem; cursor:pointer" (click)="reset()">Clear All</div>
</div>

<div>
<div class="selection">
  
  <div class="ftext">
    GRADE
  </div>
  <form>
  <div class="boxes">
      <label class="lab">Kindergaten to Grade 2
          <span class="checkmark"></span>
          
        </label>
        <input [(ngModel)]="KinderTo2" style="float:right;" (change)="filterBoolean('KinderTo2',KinderTo2)" type="checkbox" class="cbox" [ngModelOptions]="{standalone: true}">
  
  </div>
  </form>

  <form>
  <div class="boxes">
      <label class="lab"> Grades 3 to 5
          <span class="checkmark"></span>
          
        </label>
        <input [(ngModel)]="Gr3To5" style="float:right;" (change)="filterBoolean1('Gr3To5',Gr3To5)" type="checkbox" class="cbox" [ngModelOptions]="{standalone: true}">
  </div>
  </form>

  <form>
  <div class="boxes">
      <label class="lab"> Grades 6 to 8
          <span class="checkmark"></span>
          
        </label>
        <input [(ngModel)]="Gr6To8" style="float:right;" (change)="filterBoolean2('Gr6To8',Gr6To8)" type="checkbox" class="cbox" [ngModelOptions]="{standalone: true}">
  </div>
</form>
</div>



<div class="selection">
  <form>
  <div class="ftext">
      TIME OF YEAR
    </div>
    <div class="boxes">
        <label class="lab">October to April
            <span class="checkmark"></span>
           
          </label>
          <input  [(ngModel)]="OctoberToApril" style="float:right;" (change)="filterBoolean3('OctoberToApril',OctoberToApril)" type="checkbox" class="cbox" [ngModelOptions]="{standalone: true}">
    </div>
  
  
    
    <div class="boxes">
        <label class="lab">May to June
            <span class="checkmark"></span>
            
          </label>
          <input [(ngModel)]="MayToJune" style="float:right;" (change)="filterBoolean4('MayToJune',MayToJune)" type="checkbox" class="cbox" [ngModelOptions]="{standalone: true}">
    </div>
    </form>
  </div>




  <div class="selection">
  
    <div class="ftext">
        LENGTH
      </div>
      <form>
          <div class="boxes">
              
              <label class="form-check-label" for="exampleRadios1">
               Half Day
              </label>
              <input style="float:right"[(ngModel)]="day"
              (change)="filterExact('day', day)" type="radio" name="exampleRadios"  value="Half-day" class="rad">
            </div>
            <div class="boxes">
              
              <label class="form-check-label" for="exampleRadios2">
              Full Day
              </label>
              <input  style="float:right" [(ngModel)]="day"
              (change)="filterExact('day', day)"  type="radio" name="exampleRadios" value="Full-day" class="rad">
     </div>
        </form>
    </div>
    
 
    
  
</div>
</div>


<div *ngIf="set" class="side-bar" >
<div class="side-title">
 SCHEDULE
</div>
<div *ngFor="let itinerary of itineraries" class="brief" > 
  <span class="brief1">{{itinerary.time}}</span>
<span class="brief2">{{itinerary.name}}</span>
</div>
</div>
<div *ngIf="!set" class="itineraries">
 
 <div style="height:5%; position:relative;">
  <div class="ti" >Itineraries</div>
 <!--  <div class="my-btn" (click)="open(content)">
  Build Your Own
  </div></div> -->
  <div class="row" style="margin-left:0%;">
          
  
  <div class="margin" *ngFor="let item of filtered| paginate: { itemsPerPage: 4, currentPage: p } " >
          <app-card [item]="item"  (set)="getSet($event)"></app-card>
          </div>
</div>
<pagination-controls class="pag" (pageChange)="p = $event"
                                  directionLinks="false"
   
></pagination-controls>
</div>

  <!-- <div class="filter">
    <div style="font-family:futura-pt, Helvetica Neue, Arial">
        <div class="row"  style="margin-bottom:2%; margin-left:0.1%">
            <div class="filtertext" >FILTER ITINERARIES:</div>
          <div class="input-group" class="grades">
                  <select  class="custom-select" id="inputGroupSelect04" style="font-weight:bold; height:35px; font-size:13px; background-color:#f7f7f7;" [(ngModel)]="grades" (change)="filterExact('grades', grades)">
                      <option [ngValue]="undefined" disabled  selected> Select Your Grade</option>
                    <option value="Kinder to Gr.2">Kindergaten to Grade 2</option>
                    <option value="Gr 3-5">Grades 3&ndash;5</option>
                    <option value="Gr 6-8">Grades 6&ndash;8</option>
                  </select>
                </div>
                <div class="input-group" class="date" >
                      <select  class="custom-select" id="inputGroupSelect04" style="font-weight:bold; height:35px; font-size:13px; background-color:#f7f7f7;" [(ngModel)]="timeOfYear" (change)="filterExact('timeOfYear', timeOfYear)">
                          <option [ngValue]="undefined" disabled  selected> Select Time of Year </option>
                          <option value="October-April">Oct&ndash;Apr</option>
                          <option value="May-June">May&ndash;Jun</option>
                        </select>
                    </div>
                    <div class="input-group" class="day" >
                        <select  class="custom-select" id="inputGroupSelect04" style="font-weight:bold; height:35px; font-size:13px; background-color:#f7f7f7;" [(ngModel)]="day" (change)="filterExact('day', day)">
                            <option [ngValue]="undefined" disabled  selected> Half-Day or Full-Day</option>
                            <option value="Half-day">Half&ndash;Day</option>
                            <option value="Full-day">Full&ndash;Day</option>
                          </select>
                        </div>
                        <div class="show">
                          <button type="button" class="btn " style="width:100%; background-color:#8a8d8a; font-size:13px; font-weight:bold; border-color:#D8D8D8; border-width:thin; color:#f7f7f7" (click)="reset()"> Clear All Filters</button>
                        </div>
                      </div>
                      </div>
           
  <div class="row" style="margin-left:0%;">
          
  
  <div class="margin"*ngFor="let item of filtered " >
          <app-card [item]="item"></app-card>
          </div>

          <div  class="empty-card" >
            <app-empty-card></app-empty-card>
            </div>
          
</div>

<nav style="margin-bottom:10%">
    <ul class="pagination pagination-lg" style="margin-left:0">
      <li class="page-item" >
        <a class="page-link" style="border-radius:0; color:#e5e5e5; background-color:#4a4a4a" href="#" tabindex="-1">1</a>
      </li>
      <li class="page-item" style="border-radius:0"><a class="page-link" style="color:#4a4a4a" href="#">2</a></li>
      <li class="page-item" style="border-radius:0" ><a class="page-link" style="border-radius:0; color:#4a4a4a" href="#">3</a></li>
    </ul>
  </nav>
</div> -->
</div>


<div *ngIf="set" class="activities">
<div class="row">
  <div class="left" (click)="back()">
    <div class="arrow-left"></div>
  </div>

 <div class="back-title">Itineraries</div>
</div>
  <div style="position:relative;">
      <img src="../../assets/images/photo3.jpeg" alt="Random first slide" class="img-responsive banner">
      <div class="btext">
      <div class="btext1">{{grade}}</div>
      <div class="btext2">{{title}}</div>
      <div class="btext3">{{year}}</div>
      </div>
      <div *ngIf="modified" class="btext4"> This is a modified version of the <span style="font-weight:bold">{{title}}</span> itinerary</div>
    </div>
    <div class="link" >

      <div class="urlbox">
        <div class="url">http://planning-tool.herokuapp.com/BrowsePage</div>
        <div class="url-btn">COPY URL</div>
    </div>


    <div class="printbox">

      <div class="print">
     <span style="margin-left:10px; margin-top:5px;">PRINT</span>  
      </div>
      <div class="download">DOWNLOAD PDF</div>
    </div>
    </div>
<app-activity-display *ngFor="let itinerary of itineraries" [itinerary]="itinerary"  (item)="setItem($event)" (order)="emitOrder($event)" (notify)="notice($event)" (modify)="modify($event)"></app-activity-display>
    
<app-empty-activity-display  (set)="add($event)"></app-empty-activity-display>



        </div>
</div>





</div>
<div>
  <app-main-footer></app-main-footer>
</div>

