
<div *ngIf="!isSet"> 
<div class="flex">
  <div class="time">
  <div  class="first1" ><span class="value" >{{itinerary.time}}</span></div>

  <div class="second1"></div>
  
  </div>
  
  <div *ngIf="swap" class="big-box">
  <div *ngFor="let item of items | async" class="activities">
  <div *ngIf="!check(item.order)" class="pic">
   
      <img class="img-responsive pics" src="{{item.img}}" (click)="fixItem(item)">  
  </div>
  <div *ngIf="check(item.order)" class="pic2">
    
    <img class="img-responsive pics2" src="{{item.img}}" >  
    <p style="position:absolute; top:0; left:0; margin:0; line-height:0">&#9989;</p>
</div>
 
  <div *ngIf="!check(item.order) && !innerSwap" class="des">
  <div class="act-title">{{item.name}}</div>
  <div  class="act-des" appEllipsis>{{item.description}} </div>
  </div>

  <div *ngIf="!check(item.order) && innerSwap" class="des2">
    <div class="des2-box1">Swap</div>
    <div  class="des2-box2" appEllipsis>Details</div>
    </div>
  

  <div *ngIf="check(item.order)" class="des">
    <div class="act-title2">{{item.name}}</div>
    <div  class="act-des2" appEllipsis>{{item.description}} </div>
    </div>
  </div>

 
  </div>
  <div *ngIf="!swap" class="big-box2" >
  <div class="img">
    <img class="img-responsive img" src="{{itinerary.img}}">
    <div class="swap-text" (click)="setSwap()">swap</div>
  </div>
  
  <div class="textt">
  <div class="title1">{{itinerary.name}}</div> 
  <div *ngIf="!det" class="bod" appEllipsis>
{{itinerary.description}}
  </div>
  <div *ngIf="det" class="bod1">
    {{itinerary.description}}
      </div>
      
      <div *ngIf="det" class="type">{{itinerary.type}}</div>

  </div>
  
  
  <div class="icon">
  <div class="info">
    <img class="img-responsive img-res" src="../assets/images/info2.png">
  </div>
  <div class="det" (click)="toggleDet()">
  Details
  </div>    
      </div>
  </div>
  
  </div>
  </div>


  <div *ngIf="isSet"> 
    <div class="flex">
      <div class="time">
      <div  class="first1" ><span class="value" >{{itinerary.time}}</span></div>

      <div class="second1"></div>
      
      </div>
      
      <div *ngIf="swap" class="big-box">
        <div *ngFor="let item of items | async" class="activities">
          <div *ngIf="!check(item.order)" class="pic">
        
              <img class="img-responsive pics" src="{{item.img}}" (click)="fixItem(item)">  
          </div>
          <div *ngIf="check(item.order)" class="pic2">
        
            <img class="img-responsive pics2" src="{{item.img}}">  
        </div>
          <div *ngIf="!check(item.order)" class="des">
          <div class="act-title">{{item.name}}</div>
          <div  class="act-des" appEllipsis>{{item.description}} </div>
          </div>
          <div *ngIf="check(item.order)" class="des">
            <div class="act-title2">{{item.name}}</div>
            <div  class="act-des2" appEllipsis>{{item.description}} </div>
            </div>
          </div>
        
    
     
      </div>
      <div *ngIf="!swap" class="big-box2" >
      <div class="img">
        <img class="img-responsive img" src="{{activity.img}}">
        <div class="swap-text" (click)="setSwap()">swap</div>
      </div>
      
      <div class="textt">
      <div class="title1">{{activity.name}}</div>
      <div *ngIf="!det" class="bod" appEllipsis>
    {{activity.description}}
      </div>
      <div *ngIf="det" class="bod1">
        {{activity.description}}
          </div>
          
          <div *ngIf="det" class="type">{{activity.type}}</div>
    
      </div>
      
      
      <div class="icon">
      <div class="info">
        <img class="img-responsive img-res" src="../assets/images/info2.png">
      </div>
      <div class="det" (click)="toggleDet()">
      Details
      </div>    
          </div>
      </div>
      
      </div>
      </div>



     