
<div *ngIf="!isSet"> 
<div class="flex">
  <div class="time">
  <div  class="first1" ><span class="value" >{{itinerary.time}}</span></div>

  <div class="second1"></div>
  
  </div>
  
  <div *ngIf="swap" class="big-box">
  
  
   <app-swap-box  *ngFor="let item of items | async"  class="activities" [item]="item" [ord]="ord" (swap)="fixItem($event)"></app-swap-box>


 
  </div>
  <div *ngIf="!swap" class="big-box2" >
  <div class="img">
    <img class="img-responsive img" src="{{itinerary.img}}">
    <div class="swap-text" (click)="setSwap()">swap</div>
  </div>
  
  <div class="textt">
  <div class="title1">{{itinerary.name}}</div> 
  <div *ngIf="!det" class="bod" appEllipsis>
{{itinerary.description}}
  </div>
  <div *ngIf="det" class="bod1">
    {{itinerary.description}}
      </div>
      
      <div *ngIf="det" class="type">{{itinerary.type}}</div>

  </div>
  
  
  <div class="icon">
  <div class="info">
    <img class="img-responsive img-res" src="../assets/images/info2.png">
  </div>
  <div class="det" (click)="toggleDet()">
  Details
  </div>    
      </div>
  </div>
  
  </div>
  </div>


  <div *ngIf="isSet"> 
    <div class="flex">
      <div class="time">
      <div  class="first1" ><span class="value" >{{itinerary.time}}</span></div>

      <div class="second1"></div>
      
      </div>
      
      <div *ngIf="swap" class="big-box">
  
  
          <app-swap-box  *ngFor="let item of items | async"  class="activities" [item]="item" [ord]="ord" (swap)="fixItem($event)"></app-swap-box>
       
       
        
         </div>
      <div *ngIf="!swap" class="big-box2" >
      <div class="img">
        <img class="img-responsive img" src="{{activity.img}}">
        <div class="swap-text" (click)="setSwap()">swap</div>
      </div>
      
      <div class="textt">
      <div class="title1">{{activity.name}}</div>
      <div *ngIf="!det" class="bod" appEllipsis>
    {{activity.description}}
      </div>
      <div *ngIf="det" class="bod1">
        {{activity.description}}
          </div>
          
          <div *ngIf="det" class="type">{{activity.type}}</div>
    
      </div>
      
      
      <div class="icon">
      <div class="info">
        <img class="img-responsive img-res" src="../assets/images/info2.png">
      </div>
      <div class="det" (click)="toggleDet()">
      Details
      </div>    
          </div>
      </div>
      
      </div>
      </div>



     