<div *ngIf="!isSet"> 
<div class="flex">
  <div class="time">
  <div class="first1" ><span class="value" >{{itinerary.time}}</span></div>
  <div class="second1"></div>
  
  </div>
  
  <div *ngIf="swap" class="big-box">
  <div *ngFor="let item of items | async" class="activities">
  <div class="pic">

      <img class="img-responsive pics" src="{{item.img}}" (click)="fixItem(item)">  
  </div>
  <div class="des">
  <div class="act-title">{{item.name}}</div>
  <div  class="act-des" appEllipsis>{{item.description}} </div>
  </div>
  </div>

 
  </div>
  <div *ngIf="!swap" class="big-box2" >
  <div class="img">
    <img class="img-responsive img" src="{{itinerary.img}}">
    <div class="swap-text" (click)="setSwap()">swap</div>
  </div>
  
  <div class="textt">
  <div class="title1">{{itinerary.name}}</div> 
  <div *ngIf="!det" class="bod" ellipsis>
{{itinerary.description}}
  </div>
  <div *ngIf="det" class="bod1">
    {{itinerary.description}}
      </div>
      
      <div *ngIf="det" class="type">{{itinerary.type}}</div>

  </div>
  
  
  <div class="icon">
  <div class="info">
    <img class="img-responsive img-res" src="../assets/images/info2.png">
  </div>
  <div class="det" (click)="toggleDet()">
  Details
  </div>    
      </div>
  </div>
  
  </div>
  </div>


  <div *ngIf="isSet"> 
    <div class="flex">
      <div class="time">
      <div *ngIf="!newSet" class="first1" ><span class="value" >{{itinerary.time}}</span></div>
      <div *ngIf="newSet" class="first1" ><span class="value" >{{newTime}}</span></div>
      <div class="second1"></div>
      
      </div>
      
      <div *ngIf="swap" class="big-box">
      <div *ngFor="let item of items | async" class="activities">
      <div class="pic">
    
          <img class="img-responsive pics" src="{{item.img}}" (click)="fixItem(item)">  
      </div>
      <div class="des">
      <div class="act-title">{{item.name}}</div>
      <div class="act-des" appEllipsis>{{item.description}} </div>
      </div>
      </div>
    
     
      </div>
      <div *ngIf="!swap" class="big-box2" >
      <div class="img">
        <img class="img-responsive img" src="{{activity.img}}">
        <div class="swap-text" (click)="setSwap()">swap</div>
      </div>
      
      <div class="textt">
      <div class="title1">{{activity.name}}</div>
      <div *ngIf="!det" class="bod" ellipsis>
    {{activity.description}}
      </div>
      <div *ngIf="det" class="bod1">
        {{activity.description}}
          </div>
          
          <div *ngIf="det" class="type">{{activity.type}}</div>
    
      </div>
      
      
      <div class="icon">
      <div class="info">
        <img class="img-responsive img-res" src="../assets/images/info2.png">
      </div>
      <div class="det" (click)="toggleDet()">
      Details
      </div>    
          </div>
      </div>
      
      </div>
      </div>



     