<div *ngIf="!newSelection">
  <li *ngIf="selected()" class="la-micro-list__item selected">
    <figure class="la-micro-list__figure">
      <span class="la-micro-list__figure-icon"></span>
      <!-- To do: We'll need to eventually optimize our images. -->
      <img class="la-micro-list__image" src="{{activity.img}}" width="100" height="100" alt="" />
    </figure>
    <span class="la-micro-list__title">{{activity.name}}</span>
    <span class="la-micro-list__desc">{{activity.description}}
    </span>
    <span (click)="toggleModal()" style=" display:inline; text-decoration:underline; cursor:pointer;font-style: italic;">
      {{'full_desc_link' | translate}}
    </span>
  </li>
  <div *ngIf="!contains">
    <li *ngIf="!selected()" class="la-micro-list__item swap">
      <figure class="la-micro-list__figure">
        <span class="la-micro-list__figure-icon"></span>
        <img class="la-micro-list__image" src="{{activity.img}}" width="100" height="100" alt="" (click)="selectItem(activity)" />
      </figure>
      <span class="la-micro-list__title">{{activity.name}}</span>
      <span class="la-micro-list__desc">{{activity.description}}
        <span class="linklusion">Full Description</span>
      </span>
    </li>
  </div>
</div>
<div *ngIf="newSelection">
  <div *ngIf="!contains">
    <li class="la-micro-list__item">
      <figure class="la-micro-list__figure">
        <span class="la-micro-list__figure-icon"></span>
        <img class="la-micro-list__image" src="{{activity.img}}" width="100" height="100" alt="" (click)="selectItem(activity)" />
      </figure>
      <span class="la-micro-list__title">{{activity.name}}</span>
      <span class="la-micro-list__desc">{{activity.description}}

      </span>
      <span (click)="toggleModal()" style=" display:inline; text-decoration:underline; cursor:pointer;font-style: italic;">
        {{'full_desc_link' | translate}}
      </span>
    </li>
  </div>
</div>

<app-details [modal]="modal" [item]="activity" (set)="setModalFromChild($event)"></app-details>