<span class="activity-list-item__time">{{tConvert(act.time)}}</span>

<div *ngIf="showSwapBox">
  <ul *ngFor="let activity of activities" class="la-activities__micro-list">
    <app-swap-box [presentItem]="act" [activity]="activity" [newSelection]="newSelection" [itn]="itn" (selectedItm)="replaceItem($event)"></app-swap-box>

  </ul>
</div>


<main *ngIf="!showSwapBox" class="activity-list-item__main">
  <figure class="activity-list-item__figure">
    <a class="activity-list-item__image-link" href="#figure">
      <img class="activity-list-item__image" src="/assets/images/IMG2018-0032-0151-Dm.jpg" width="227" height="161" alt="" />
    </a>
    <button class="activity-list-item__rem-button" (click)="removeActivity(act.order)">
      <span class="text">Remove Activity</span>
    </button>
    <button class="activity-list-item__swap-button" (click)="toggleSwapBox(act.order)">Swap Activity</button>
  </figure>
  <div class="activity-list-item__body">
    <span class="activity-list-item__title">{{act.name}}</span>
    <span class="activity-list-item__desc" appEllipsis>{{act.description}}
      <a href="#desc">Full Description</a>
    </span>
  </div>
</main>