<div class="flex">
  <div class="time">
    <div class="first1"></div>

    <div class="second1">
      <span class="value">+</span>
    </div>

  </div>


  <div class="big-box2">

    <button class="add-btn" (click)="change()">ADD ANOTHER ACTIVITY</button>





    <button class="nxt" (click)="next()">NEXT</button>


    <div class="icon">
      <div class="info">
        <img class="img-responsive img-res" src="../assets/images/info2.png">
      </div>
      <div class="det" (click)="toggleDet()">
        Details
      </div>
    </div>
  </div>

</div>