<!--<app-main-header></app-main-header>-->
<div class="main-header-tmp"></div>

<header class="app-header">
  <div class="app-header__wrapper">
    <main class="app-header__main">
      <a class="app-header__breadcrumb-link" href="#" (click)="$event.preventDefault()">Plan Your Visit<i class="icon"></i></a>
      <h1 class="app-header__heading">Plan a School Trip</h1>
    </main>
    <nav class="app-header__nav">
      <ul>
        <li><a class="app-header__nav-button on" href="#browse" (click)="$event.preventDefault()">Browse</a></li>
        <li><a class="app-header__nav-button" href="#create">Create</a></li>
      </ul>
    </nav>
  </div>
</header>

<section class="main-section">
  <div class="main-section__wrapper">

    <!-- Move to seperate component (main section aside). -->
    <aside class="main-section__aside">
      <header class="main-section__aside-header">
        <span class="main-section__aside-heading">Filter By</span>
        <button class="ms__aside-header-btn">Clear All</button>
      </header>
      <div class="ms__aside-groups">
        <fieldset class="ms__aside-group">
          <span class="ms__aside-group-heading">Grade</span>
          <label class="ms__aside-label" for="grade-kindergarden_2">
            <span class="text">Kindergarden to Grade 2</span>
            <input id="grade-kindergarden_2" name="grade-kindergarden_grade_2" type="checkbox" />
            <span class="faux-checkbox unchecked"></span>
          </label>
          <label class="ms__aside-label" for="grade-3_6">
            <span class="text">Grades 3 to 6</span>
            <input id="grade-3_6" name="grade-3_6" type="checkbox" />
            <span class="faux-checkbox unchecked"></span>
          </label>
          <label class="ms__aside-label" for="grade-6_8">
            <span class="text">Grades 6 to 8</span>
            <input id="grade-6_8" name="grade-6_8" type="checkbox" />
            <span class="faux-checkbox unchecked"></span>
          </label>
        </fieldset>
        <fieldset class="ms__aside-group">
          <span class="ms__aside-group-heading">Time of Year</span>
          <label class="ms__aside-label" for="toy-oct_apr">
            <span class="text">October to April</span>
            <input id="toy-oct_apr" name="toy-oct_apr" type="checkbox" />
            <span class="faux-checkbox unchecked"></span>
          </label>
          <label class="ms__aside-label" for="toy-may_jun">
            <span class="text">May to June</span>
            <input id="toy-may_jun" name="toy-may_jun" type="checkbox" />
            <span class="faux-checkbox unchecked"></span>
          </label>
        </fieldset>
        <!-- Move to seperate component (aside group). -->
        <fieldset class="ms__aside-group">
          <span class="ms__aside-group-heading">Length</span>
          <!-- Move to seperate component (aside label). -->
          <label class="ms__aside-label" for="length-half">
            <span class="text">Half-Day</span>
            <input id="length-half" name="length-half" type="checkbox" />
            <span class="faux-checkbox unchecked"></span>
          </label>
          <label class="ms__aside-label" for="length-full">
            <span class="text">Full Day</span>
            <input id="length-full" name="length-full" type="checkbox" />
            <span class="faux-checkbox unchecked"></span>
          </label>
        </fieldset>
      </div>
    </aside>

    <main class="main-section__main">
      <header>
        <a class="msm__back-link" href="#landing" (click)="$event.preventDefault()">Back to Landing Page</a>
        <h2 class="msm__heading">Itineraries</h2>
      </header>
      <ul class="card-list" style="display:none;">
        <li class="card-wrapper">
          <a class="la-card" href="#1" (click)="$event.preventDefault()">
            <main class="la-card__main">
              <span class="la-card__subtitle">Kindergarden to Grade 2</span><br />
              <span class="la-card__title">Explore the Arctic</span><br />
              <span class="la-card__toy">Oct &ndash; Apr</span>
            </main>
          </a>
        </li>
        <li class="card-wrapper">
          <a class="la-card" href="#2" (click)="$event.preventDefault()">
            <main class="la-card__main">
              <span class="la-card__subtitle">Grade 6 to 8</span><br />
              <span class="la-card__title">A Journey Through Prehistory</span><br />
              <span class="la-card__toy">Oct &ndash; Apr</span>
            </main>
          </a>
        </li>
        <li class="card-wrapper">
          <a class="la-card" href="#3" (click)="$event.preventDefault()">
            <main class="la-card__main">
              <span class="la-card__subtitle">Grade 3 to 5</span><br />
              <span class="la-card__title">Medieval Times</span><br />
              <span class="la-card__toy">May &ndash; June</span>
            </main>
          </a>
        </li>
      </ul><!--/.card-list-->

      <div class="la-banner" style="background-image:url('/assets/images/IMG2018-0032-0165-Dm.jpg');">
        <main class="la-banner__main">
          <span class="la-banner__subtitle">Grade 3 to 5</span>
          <h3 class="la-banner__title">Medieval Times</h3>
          <span class="la-banner__toy">May &ndash; Jun</span>
        </main>
        <div class="utils-bar">
          <div class="url-copier">
            <label for="url">Url</label>
            <input id="url" value="http://localhost:4200/BrowsePage" name="url" type="text" />
            <button class="la-button la-button--utils-bar la-button--clr-primary">Copy URL</button>
          </div>
          <aside class="utils-bar__aside">
            <button class="la-button la-button--utils-bar">Print</button>
            <button class="la-button la-button--utils-bar">Download PDF</button>
          </aside>
        </div>
        <span class="la-banner__image-cover"></span>
      </div><!--/.la-banner-->

      <div class="la-activities">
        <ul>
          <li class="activity-list-item">
            <span class="activity-list-item__time">9:30 AM</span>
            <figure class="activity-list-item__figure">
              <a class="activity-list-item__image-link" href="#figure">
                <img class="activity-list-item__image" src="/assets/images/IMG2018-0032-0151-Dm.jpg" width="227" height="161" alt="" />
              </a>
            </figure>
            <div class="activity-list-item__body">
              <span class="activity-list-item__title">Arrive</span>
              <span class="activity-list-item__desc">Aenean eu leo quam. Pellentesque 
              ornare sem lacinia quam venenatis vestibulum. Praesent 
              commodo cursus magna, vel scelerisque nisl consectetur 
              vel augue laoreet rutrum faucibus dolor auctor ... <a href="#desc">Full Description</a></span>
            </div>
          </li>
          <li class="activity-list-item activity-list-item--last-no-add">
            <span class="activity-list-item__time">10:00 AM</span>
            <figure class="activity-list-item__figure">
              <a class="activity-list-item__image-link" href="#figure">
                <img class="activity-list-item__image" src="/assets/images/IMG2018-0032-0151-Dm.jpg" width="227" height="161" alt="" />
              </a>
              <button class="activity-list-item__rem-button">Remove Activity</button>
              <button class="activity-list-item__swap-button">Swap Activity</button>
            </figure>
            <div class="activity-list-item__body">
              <span class="activity-list-item__title">Traditions of the Anishinabe (Algonquin)</span>
              <span class="activity-list-item__desc">Duis mollis, est non commodo luctus, 
              nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
              Cras mattis consectetur purus sit amet fermentum.</span>
            </div>
          </li>
          <li class="activity-list-item activity-list-item--add">
            <span class="activity-list-item__time"></span>
            <div class="activity-list-item__body">
              <button class="la-button la-button--add">Add Another Activity</button>
              <button class="la-button la-button--clr-primary">Next</button>
            </div>
          </li>
        </ul>
      </div><!--/.la-activities-->
    </main><!--/.main-section__main-->

  </div><!--/.main-section__wrapper-->
</section><!--/.main-section-->