@import 'variables.scss';
@import 'mixins.scss';

/////////////////////////////////////////////////////////////////////////

$la_card_subtitle_font_size: 12;
$la_card_title_font_size: 21;

.card-wrapper {
    float:left;
    background:#000;
    width:calc(50% - 20px);
    margin-bottom:40px;
    position:relative;
    overflow:hidden;
    &:nth-child(odd) {margin-right:20px;}
    &:nth-child(even) {margin-left:20px;}
    &:before {
        // Aspect ratio magic.
        padding-top:calc(#{9/16} * 100%);
        content:'';
        height:0;
        float:left;
    }
}
// "la" = Learning Agenda.
.la-card__main {
    font-family:$primary_font_family;
    position:absolute;
    width:80%;
    bottom:(20/16)+em;
    left:(20/16)+em;
    color:#fff;
    z-index:1;
    span + br {display:none;}
}
.la-card__subtitle {
    text-transform:uppercase;
    font-size:($la_card_subtitle_font_size/16)+em;
    margin-bottom:(7/$la_card_subtitle_font_size)+em;
    display:block;
}
.la-card__title {
    text-transform:uppercase;
    font-size:($la_card_title_font_size/16)+em;
    margin-bottom:(7/$la_card_title_font_size)+em;
    display:block;
}
.la-card__toy {
    display:block;
}
.la-card {
    position:absolute;
    top:0;
    left:0;
    display:block;
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position:50%;
    width:100%;
    height:100%;
    // Transparent layers to make light coloured text legible.
    &:before,
    &:after {
        @include transition(background 150ms ease);
        position:absolute;
        display:block;
        background:0;
        width:100%;
        height:100%;
        z-index:0;
        content:'';
        left:0;
        top:0;
    }
    &:after {@include verticalGradient(transparent 30%, rgba(0,0,0,0.5) 75%);}
    &:hover:before {background:rgba(0,0,0,0.5);}
}

/////////////////////////////////////////////////////////////////////////

// learning Agenda (la) Banner

.la-banner {
  padding-top: 250px;
  background-color: $chwm_grey_60;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}
.la-banner__image-cover {
  @include verticalGradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.la-banner__main {
  position: relative;
  z-index: 10;
  padding-left: 30px;
  padding-bottom: 30px;
  color: #fff;
}
.la-banner__title {
  display: block; // In case we change h3 to inline element (e.g. span)
  margin-bottom: 7px;
  text-transform: uppercase;
  font-family: $primary_font_family;
  font-size: (36/16) + em;
}
.la-banner__subtitle {
  display: block;
  margin-bottom: 7px;
  text-transform: uppercase;
  font-family: $primary_font_family;
}
.utils-bar {
  background: $chwm_grey_30;
  position: relative;
  z-index: 10;
  padding: 10px;
  &:after {
    @include clearfix;
  }
}
.utils-bar__aside {
  float: right;
}
.url-copier {
  float: left;
  label {
    position: absolute;
    top: 0;
    left: -999em;
    visibility: hidden;
  }
  input {
    @include borderbox;
    font-size: 1em;
    color: #8e908f;
    padding: 0 10px 0 15px;
    width: 300px;
    height: $utils_els_height;
    float: left;
    display: block;
    border: 1px solid #d8d8d8;
  }
}

/////////////////////////////////////////////////////////////////////////
/* 
#itinerary-browse,
#itinerary-single {
  display: none;
}

#itinerary-browse:target,
#itinerary-single:target {
  display: block;
} */

/////////////////////////////////////////////////////////////////////////

.main-header-tmp {
  // We'll revisit this later.
  background: fuchsia;
  height: (120/16) + em;
  position: absolute;
  opacity: 0.7;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 0;
}

@media (max-width:#{$breaking_point_x_lrg}px) {
    .card-wrapper {width:100%;margin:0 0 30px!important;}
}
// Second major layout breaking point
@media (max-width:#{$breaking_point_sml}px) {
    .card-wrapper {width:100%;margin:0 0 30px!important;font-size:21px;}
}
@media (max-width:#{$breaking_point_xx_sml}px) {
    .card-wrapper {font-size:1em;}
}
