<div class="jumbotron main">
 <div class="outer-box">
<div class="inner-box-head ">
 <div><h1>FIRST AVE. GRADE 3 CLASS- ITENERARY 2</h1></div>
 <div><div><div><a href="javascript: void(0)" (click)="navigateToDesign()"><img src="../../assets/images/edit.png" class="icon"></a></div><div style="font-weight:bold; font-size:12.5px">EDIT</div></div></div>
</div>
<div class="inner-box-body">
  <div class="column">
<div class="my-card">
    <app-card [view]="view"></app-card>
</div>
<div class="note">
  <h4>IMPORTANT:</h4>
  <p>Activities can accomodate up to 30 people.
     Please create additional Iteneraries for  larger groups.
  </p>
</div>
</div>
<div class="activity">
<div class="column">
  <div class="list">
  <app-activity [showImage]="showImage" [showTools]="showTools" [showDescription]="showDescription" [adjust]="adjust" [display]="display"></app-activity>
</div>
<div class="list">
    <app-activity [showImage]="showImage" [showTools]="showTools" [showDescription]="showDescription" [adjust]="adjust" [display]="display"></app-activity>
  </div>
  <div class="list">
      <app-activity [showImage]="showImage" [showTools]="showTools" [showDescription]="showDescription" [adjust]="adjust" [display]="display"></app-activity>
    </div>
    <div class="list">
        <app-activity [showImage]="showImage" [showTools]="showTools" [showDescription]="showDescription" [adjust]="adjust" [display]="display"></app-activity>
      </div>
      <div class="list">
          <app-activity [showImage]="showImage" [showTools]="showTools" [showDescription]="showDescription" [adjust]="adjust" [display]="display"></app-activity>
        </div>
        <div class="list">
            <app-activity [showImage]="showImage" [showTools]="showTools" [showDescription]="showDescription" [adjust]="adjust" [display]="display"></app-activity>
          </div>
          <div class="list">
        <app-activity [showImage]="showImage" [showTools]="showTools" [showDescription]="showDescription" [adjust]="adjust" [display]="display"></app-activity>
      </div>
      <div class="list">
          <app-activity [showImage]="showImage" [showTools]="showTools" [showDescription]="showDescription" [adjust]="adjust" [display]="display"></app-activity>
        </div>
        <div class="list">
            <app-activity [showImage]="showImage" [showTools]="showTools" [showDescription]="showDescription" [adjust]="adjust" [display]="display"></app-activity>
          </div>
          
</div>
</div>


</div>
</div>
</div>
