<div>
  <app-header></app-header>
</div>

<div class="container-fluid">
  <div style="margin-left:2%; margin-top:2%;">
 <div style=" font-weight:bold; font-size:50px;">
   SUBMIT YOUR ITENERARY
 </div>
 <div style="font-size:17px; width:55%">
  <span style="color:red">IMPORTANT: This is NOT a reservation.</span>
  Submit your itenerary to the Museum call centre here, and 
  we will review and contact you within XX hours to follow up and confirm your booking
 </div>
 </div>
</div>

<div style="margin-top:3%;">
  <app-submit-form></app-submit-form>
</div>

<div>
  <app-sticky-footer></app-sticky-footer>
</div>