.card-container{
  height:100%;
  width:100%;
  border-width:1px;
  border-style:solid;
  border-color:#E0E0E0;
}

#slideshow{
 width:100%;

}


.text{
  position: absolute;
  margin-left:2.5%;
  bottom:10%;
  font-weight:bold;
  color:white;
}
.text2{
font-family: "futura-pt", "Helvetica Neue", Arial;
font-size:1.5rem;
}
.text3{
  font-family:Arial;
  
  }
  

.layers{
  font-family:Arial;
  text-align:justify;
  padding-left:4%;
  padding-right:4%;
  margin-top:5%;
  color:#4a4a4a;
}

.link{
font-family: "futura-pt", "Helvetica Neue", Arial;
font-weight:bold;
margin-bottom:6%;
}

.img-resize{
  height:220px;
  width:100%;
  object-fit: cover;
}

a:link {
  text-decoration: none;
  color:#4a4a4a;
}

