.card-container{
  height:100%;
  width:100%;
  border-width:1px;
  border-style:solid;
  border-color:#E0E0E0;
}

#slideshow{
 width:100%;

}

.text{
  text-align:justify;
  padding-left:2%;
  padding-right:2%

}

.layers{
  text-align:justify;
  padding-left:4%;
  padding-right:4%;
  margin-top:3%;
}

.img-resize{
  height:250px;
  width:100%;
}


