<div>
  <app-header></app-header>
</div>

<div class="container-fluid">
  <div style="margin-left:2%; margin-top:2%;">
 <div style=" font-weight:bold; font-size:50px;">
   REVIEW & CONFIRM YOUR ITINERARY
 </div>
 <div style="font-size:15px;">
  Review the information below before we move on to the next step
   when we'll submit our itinerary to the Museum's call center
 </div>
 </div>
</div>

<div style="margin-top:2%;">
  <app-confirm></app-confirm>
</div>

<div>
  <app-sticky-footer [count]="number" [page]="page"></app-sticky-footer>
</div>

