<!--  <input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
 <Form>
 <input type="radio" [(ngModel)]="length" value="Half-Day..." name="length" placeholder="Title..">
 <input type="radio" [(ngModel)]="length" value="Full-Day..." name="length" placeholder="Title..">
 </Form>
<textarea [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
<input type="submit" value="Add a Post" (click)="addPost()"> 

<div *ngFor="let item of items | async">
  <div *ngIf="checkId(item.id)">
{{item.title}}
    
  </div>
</div>

<div></div> -->

<!-- <app-itinerary-page></app-itinerary-page> -->
<router-outlet></router-outlet>



<!-- <div>{{'Title' | translate}}</div>

<div>
  {{ 'Intro' | translate:user }}
</div>


<button (click)="switchLanguage('en')">en</button>

<button (click)="switchLanguage('fr')">fr</button> -->