<div class="stick">
<div>
<div style="background-color:black; width:25%; height:80px; border-right-width:thin; border-right-style:solid;  border-right-color:white; float:left;">
 <div style="margin-top:20px; margin-left:100px;"><div style="color:white; font-weight:bold; ">PRESERVE YOUR ITENERARY</div><div style="color:white; font-size:12px; width:70%;">copy the public share link and return to your itenerary later </div></div>
</div>
<div  style="background-color:black; width:25%; height:80px; float:left;">
    <div style="margin-top:20px; margin-left:100px;"><div style="color:white; font-weight:bold;">PRINT YOUR ITENERARY</div><div style="color:white; font-size:12px; width:70%;">Print a hard copy of PDF. NOTE: this does not constitute a reservation! </div></div>
</div>
<div  style="background-color:darkred; width:25%; height:80px; float:left;">
    <div style="margin-top:20px; margin-left:100px;"><div style="color:white; font-weight:bold;">8/8 TIME SLOTS COMPLETE</div><div style="color:white; font-size:12px; width:70%;">You're done. Next Step: Confirm your itenerary before submitting </div></div>
</div>
<div  style="background-color:red; width:25%; height:80px; float:left;">
  <div style="margin-top:20px; margin-left:160px;"><a href="javascript:void(0)" (click)="navigate(page)"><div style="float:left; font-size:25px; font-weight:bold; color:white;" >NEXT</div><div style="width:0;height: 0; border-top: 10px solid transparent; border-left: 15px solid white; border-bottom: 10px solid transparent; float:left; margin-left:20px; margin-top:10px;"></div></a></div>
</div>
</div>
</div>