.height{
    border-style:solid;
    display:inline-block;
    border-width:thin;
    margin-top:5%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img-resize{
    height:300px;
    width:90%;
  }

  .img-res{
    height:160px;
    width:100%;
    object-fit:cover;
  }
.outer-flex{
    display:flex;
    flex-direction:row;
    margin-top:20px;

}
.flex-container {
    display: flex;
   /*  border-top-style: dashed;
    border-color:#E0E0E0; */
    flex-direction: row;
    padding-top:1%;
    //padding-bottom:0%;
    justify-content:flex-start; 
    
  }
  .img-flex{
      display:flex;
      width:18%;
      margin-right:1%;
  }
.middle-flex{
    display:flex;
    height:160px;
    flex-direction: column;
    justify-content: space-between;
    margin-right:5%
}


.icon{
    height:19px;
  }

  .inner-flex{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
  }

  .main-flex{
      display:flex;
      flex-direction:column;
  }
  .list{
      margin-bottom:0%;
  }
  
  .activity-card{
    height:260px; 
    width:33%;
    font-size:12px;
    margin:auto;
    
}
.alt-flex{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

