<div class="img-container" >
    <img class="logo"  src="../../assets/images/logo.jpg"> 
  </div>
<nav class="navbar bg-dark bg" >
  
<div class="nav-text" >SCHOOL TRIP PLANNER</div>
    <!-- <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-right:18%;">
        <div class="btn-group mr-2" role="group" aria-label="First group" >
          <button type="button" class="btn btn-secondary" style=" width:200px; color:black;"><div style="border-radius:100%; background-color:black; width:30px; color:white;">1</div> DESIGN</button>
          <button type="button" class="btn btn-secondary" style="background-color:white; width:150px; color:red;"><div style="border-radius:100%; background-color:red; width:30px; color:white;">2</div> CONFIRM</button>
          <button type="button" class="btn btn-secondary" style=" width:100px;">3</button>
        </div>
      </div> -->
      <!-- <div style="color:white; background-color: black; width:70px; padding:0.25%; float:right; margin-right:0; text-align:center;" (click)="open(content)">

        <div style="margin-left:2%;">
        <div style="font-size:25px;">X</div>
        <div>EXIT</div>
      </div>
      </div> -->
  </nav>


  <ng-template #content let-c="close" let-d="dismiss">
      <div style="width:100%">
          <button type="button"  (click)="d('Cross click')" style="background-color:black; float:right; height:70px; width:70px; ">
              <div style="color:white; ">
                x
              </div>
              <div style="color:white; font-weight:bold; font-size:12px;">
                CLOSE
              </div>
            </button>
      <app-warning></app-warning>
    </div>
    </ng-template>