.bg{
   height:80px;
}

.logo{
height:80px;
 width:100px;
}

.img-container{
 float:left;
}

.nav-text{
color:white;
font-size:25px;
float:left; 
font-weight:bold;
}

.nav1{
    height:60px;
    background-color:purple;
    border-radius:20%;
    margin-left:54%;
    position:absolute;
    width:10%;
}.nav2{
    height:60px;
    background-color:red;
    border-radius:20%;
    margin-left:46%;
    position:absolute;
    width:10%;
    
}

.nav3{
    height:60px;
    background-color:white;
    border-radius:48%;
    margin-left:38%;
    position:absolute;
    width:20%;
    
}
// screen widths not larger than 414 pixels
@media only screen and (max-width: 414px) {


    .bg{
        height:80px;
     }
     
     .logo{
      
        height:20px;
         width:20px;
        }

        .img-container{
            padding:3%;
            float:left;
           }
        .navbar{
            height:45px;
        }
        .nav-text{
            color:white;
            font-size:12px;
            float:left; 
            font-weight:bold;
            }

     .nav1{
         height:60px;
         background-color:purple;
         border-radius:20%;
         margin-left:54%;
         position:absolute;
         width:10%;
     }.nav2{
         height:60px;
         background-color:red;
         border-radius:20%;
         margin-left:46%;
         position:absolute;
         width:10%;
         
     }
     
     .nav3{
         height:60px;
         background-color:white;
         border-radius:48%;
         margin-left:38%;
         position:absolute;
         width:20%;
         
     }

}
@media only screen and (max-width: 375px) {


    .bg{
        height:80px;
     }
     
     .logo{
      
        height:20px;
         width:20px;
        }

        .img-container{
            padding:3%;
            float:left;
           }
        .navbar{
            height:45px;
        }
        .nav-text{
            color:white;
            font-size:12px;
            float:left; 
            font-weight:bold;
            }

     .nav1{
         height:60px;
         background-color:purple;
         border-radius:20%;
         margin-left:54%;
         position:absolute;
         width:10%;
     }.nav2{
         height:60px;
         background-color:red;
         border-radius:20%;
         margin-left:46%;
         position:absolute;
         width:10%;
         
     }
     
     .nav3{
         height:60px;
         background-color:white;
         border-radius:48%;
         margin-left:38%;
         position:absolute;
         width:20%;
         
     }

}