
<div class="container-fluid ">
    <div style="font-weight:bold; margin-top:7%; color:red;">
      <h1>DON'T LOSE YOUR ITENERARY!</h1>
    </div>
    <div style="margin-top:5%; font-weight:bold;">
        COPY YOUR <a href="javascript:void(0)" style="color:black"> PUBLIC SHARE LINK</a><br>
        YOU'LL NEED IT TO KEEP FIND YOUR ITENERARY LATER.
    </div>


    <div style="margin-top:7%" >
      Use the forms below to copy and paste the link somewhere you 
      can find it, or email it to yourself and others.
      </div>
       
      <div style="margin-top:7%; border-top-style:solid; border-top-width:thin; width:100%; border-top-color:#E0E0E0; padding:2%; ">
      <div style="font-weight:bold;">COPY</div>
      <div style="margin-top:5%; font-size:12px; font-weight:bold;">YOUR PUBLIC SHARE LINK</div>
      <div >
          <div class="input-group mb-3">
              <input id="bar" type="text" class="form-control"  value="https://github.com/zenorocha/clipboard.js.git">
              <div class="input-group-append"  id="copy-button" data-clipboard-target="#bar">
                <button class="btn btn-danger" type="button">COPY LINK</button>
              </div>
            </div>
      </div>
      </div>
  
      <div style="margin-top:2%; border-top-style:solid; border-top-width:thin; border-top-color:#E0E0E0; padding:2%; ">
        <div style="font-weight:bold;">
          EMAIL
        </div>

        <div style="margin-top:5%; font-size:12px; font-weight:bold;">EMAIL ADDRESS:</div>
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-danger" type="button">SEND</button>
              </div>
            </div>
        </div>
              
        <div style="margin-top:2%; border-top-style:solid; border-top-width:thin; border-top-color:#E0E0E0; padding:5%; ">
             <div>
            <input class="form-check-input" type="checkbox" name="exampleRadios" id="examplecheckbox1"  checked>
            <label class="form-check-label" for="exampleRadios1" style="font-size:11px">
                I have copied the public share link to somewhere for safekeeping
            </label>
              </div>

              <div style="float:right;padding:5%; ">
                  <button type="button" style="width:100%;" class="btn " id="new-btn"> <div style="float:left; font-size:12px">CONTINUE</div> <div style="width:0;height: 0; border-top: 5px solid transparent; border-left: 10px solid black; border-bottom: 5px solid transparent; float:left; margin-left:10px; margin-top:4px;"></div></button>
                </div>
          </div>
  
  </div>

  