<div class="select">
  <input class="radio" type="radio" name="gender" id="male" value="male">
  <label class="label" for="male">Kindergarten to Grade 2</label>
</div>
<div class="select">
  <input class="radio" type="radio" name="gender" id="female" value="female">
  <label class="label" for="female">Grades 3 to 5</label>
</div>
<div class="select">
  <input class="radio" type="radio" name="gender" id="other" value="other">
  <label class="label" for="other">Grades 6 to 8</label>
</div>
<button class="my-btn2" (click)="next()">NEXT</button>