.card-container{
    height:100%;
    width:100%;
    position: relative;
 
    border-width:1px;
    border-style:solid;
    border-color:#E0E0E0;
  }
  
  .img-resize{
    height:210px;
    width:100%;
    object-fit:cover; 
  }

  .text{
    position: absolute;
    margin-left:2%;
    bottom:4%;
    color:white;
  }
.text2{
font-family: "futura-pt", "Helvetica Neue", Arial;
font-size:1.5rem;
}
.text3{
  font-family:Arial;
  width:80%;
  overflow: hidden;
  text-overflow: ellipsis;  
  }
 .tag{
     background-color:red;
     font-size:12.5px;
     top:0;
     width:35%;
     margin:0;
     position:absolute;
     height:15%;
     padding:2%;
     color:white;
 }