<!-- <div class="select">
  <input class="radio" type="radio" [(ngModel)]="model.options" value="Half-day">
  <label class="label" for="male">Half&ndash;Day</label>
</div>
<div class="select">
  <input class="radio" type="radio" [(ngModel)]="model.options" value="Full-day">
  <label class="label" for="female">Full&ndash;Day</label>
</div>
<button class="my-btn2" (click)="next()">NEXT</button> -->

<div class="msm__sub-section">
  <div class="msm__label-input-grp">
    <div class="la__label-input">
      <input id="kindergarden-grade_2" [(ngModel)]="model" value="Half-day" (change)="enable()" type="radio" />
      <label class="msm__label" for="kindergarden-grade_2">
        <span class="text">Half&ndash;Day</span>
        <span class="faux-radio unselected"></span>
      </label>
    </div>
    <div class="la__label-input">
      <input id="grades_3-6" [(ngModel)]="model" value="Full-day" (change)="enable()" type="radio" />
      <label class="msm__label" for="grades_3-6">
        <span class="text">Full&ndash;Day</span>
        <span class="faux-radio unselected"></span>
      </label>
    </div>
  </div>
  <!--/.msm__label-input-grp-->
  <button *ngIf="!enabled" class="la-button la-button--clr-primary" disabled (click)="next()">Next</button>
  <button *ngIf="enabled" class="la-button la-button--clr-primary" (click)="next()">Next</button>
</div>