.my-btn2 {
  color: #fff;
  padding: 1rem;
  width: 170px;
  margin-top: 2rem;
  background: red;
  cursor: pointer;
}

.select {
  padding: 2%;
  border-color: grey;
  border-width: thin;
  border-style: solid;
}

.radio {
  margin-left: 1%;
}

.label {
  margin-left: 2%;
}
