<div>
  <!-- @Elijah: How are we going to localize the calendar? -->
  <ngb-datepicker #dp (select)="onDateSelect($event)" [(ngModel)]="date" (navigate)="date = $event.next">

  </ngb-datepicker>
</div>

<div *ngIf="!enabled">Selected Date:{{setDate(date.year,date.month-1,date.day) | date}}</div>
<div *ngIf="enabled">Selected Date:{{sDate | date}}</div>
<div *ngIf="!enabled">
  <button *ngIf="!click" class="la-button la-button--clr-primary" disabled (click)="next()">{{'button_next' | translate}}</button>
  <button *ngIf="click" class="la-button la-button--clr-primary" (click)="next()">{{'button_next' | translate}}</button>
</div>
<button *ngIf="enabled" class="la-button la-button--clr-primary" (click)="next()">{{'button_next' | translate}}</button>
<!-- <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
 -->