<app-header></app-header>

<div style="position:absolute;top:0;right:0;background:green;padding:10px;z-index:999;">
  <button (click)="switchLanguage('en')" style="margin-right:10px;">en</button>
  <button (click)="switchLanguage('fr')">fr</button>
</div>

<section class="main-section">
  <div class="main-section__wrapper">
    <aside class="main-section__aside">
      <header class="main-section__aside-header">
        <span class="main-section__aside-heading">Instructions</span>
        <button class="ms__aside-header-btn">Restart</button>
      </header>
      <ul class="ms__aside-checklist">
        <!-- @ Elijah: We need conditional classes here. -->
        <!-- 1. If user has made "acceptable" selection, assign sub class "checklist-item--done" -->
        <!-- 2. Move "on" subclass (checklist-item--on) according to where user is -->

        <li class="checklist-item checklist-item--on">
          <span>1. Select a Grade</span>
        </li>
        <li class="checklist-item checklist-item--done">
          <span tabindex="0">1. Select a Grade</span>
        </li>

        <li class="checklist-item">
          <span>2. Select a Duration</span>
        </li>
        <li class="checklist-item checklist-item--on">
          <span>2. Select a Duration</span>
        </li>
        <li class="checklist-item checklist-item--done">
          <span tabindex="0">2. Select a Duration</span>
        </li>

        <li class="checklist-item">
          <span>3. Select a Date</span>
        </li>
        <li class="checklist-item checklist-item--on">
          <span>3. Select a Date</span>
        </li>
        <li class="checklist-item checklist-item--done">
          <span>3. Select a Date</span>
        </li>


        <li class="checklist-item">
          <span>4. Select your Activities</span>
        </li>
        <li class="checklist-item checklist-item--on">
          <span>4. Select your Activities</span>
        </li>
        <li class="checklist-item checklist-item--done">
          <span>4. Select your Activities</span>
        </li>

        <li class="checklist-item">
          <span>5. Contact Information</span>
        </li>
        <li class="checklist-item checklist-item--on">
          <span>5. Contact Information</span>
        </li>
        <li class="checklist-item checklist-item--done">
          <span>5. Contact Information</span>
        </li>


        <li class="checklist-item">
          <span>6. Review and Submit</span>
        </li>
      </ul>
    </aside>
    <main class="main-section__main">
      <!-- This (<header />) is a shared component, .. we need to decouple and somehow pass data to component,
            1. Back link destination / route,
            2. msm__heading (main section main heading) text value.
            -->
      <app-header-old [title]="createTitle" (back)="create_Back($event)"></app-header-old>

      <div *ngIf="step1" class="msm__sub-section">
        <div class="msm__label-input-grp">
          <div class="la__label-input">
            <input id="kindergarden-grade_2" name="grade" value="Kindergarden to Grade 2" type="radio" />
            <label class="msm__label" for="kindergarden-grade_2">
              <span class="text">Kindergarden to Grade 2</span>
              <span class="faux-radio unselected"></span>
            </label>
          </div>
          <div class="la__label-input">
            <input id="grades_3-6" name="grade" value="Grades 3 to 6" type="radio" />
            <label class="msm__label" for="grades_3-6">
              <span class="text">Grades 3 to 6</span>
              <span class="faux-radio unselected"></span>
            </label>
          </div>
          <div class="la__label-input">
            <input id="grades_6-8" name="grade" value="Grades 6 to 8" type="radio" />
            <label class="msm__label" for="grades_6-8">
              <span class="text">Grades 6 to 8</span>
              <span class="faux-radio unselected"></span>
            </label>
          </div>
        </div>
        <!--/.msm__label-input-grp-->
        <button class="la-button la-button--clr-primary" (click)="setStep2('step1')">Next</button>
      </div>
      <!--/.msm__sub-section-->



      <div *ngIf="step2" class="msm__sub-section">
        <div class="msm__label-input-grp">
          <div class="la__label-input">
            <input id="kindergarden-grade_2" name="grade" value="Kindergarden to Grade 2" type="radio" />
            <label class="msm__label" for="kindergarden-grade_2">
              <span class="text">Half&ndash;Day</span>
              <span class="faux-radio unselected"></span>
            </label>
          </div>
          <div class="la__label-input">
            <input id="grades_3-6" name="grade" value="Grades 3 to 6" type="radio" />
            <label class="msm__label" for="grades_3-6">
              <span class="text">Full&ndash;Day</span>
              <span class="faux-radio unselected"></span>
            </label>
          </div>
        </div>
        <!--/.msm__label-input-grp-->
        <button class="la-button la-button--clr-primary">Next</button>
      </div>
      <!--/.msm__sub-section-->



      <div *ngIf="show" class="la-activities">
        <ul>
          <li class="activity-list-item">
            <span class="activity-list-item__time">10:00 AM</span>
            <ul class="la-activities__micro-list">
              <li class="la-micro-list__item selected">
                <figure class="la-micro-list__figure">
                  <span class="la-micro-list__figure-icon"></span>
                  <!-- To do: We'll need to eventually optimize our images. -->
                  <img class="la-micro-list__image" src="/assets/images/IMG2018-0032-0197-Dm-thumbnail.jpg" width="100" height="100" alt=""
                  />
                </figure>
                <span class="la-micro-list__title">It's Your History</span>
                <span class="la-micro-list__desc">This activity sheet is intended for students who visit the Canadian Museum of Hist...
                  <span class="linklusion">Full Description</span>
                </span>
              </li>
              <li class="la-micro-list__item swap">
                <figure class="la-micro-list__figure">
                  <span class="la-micro-list__figure-icon"></span>
                  <img class="la-micro-list__image" src="/assets/images/IMG2018-0032-0197-Dm-thumbnail.jpg" width="100" height="100" alt=""
                  />
                </figure>
                <span class="la-micro-list__title">The People of New France: Forging ...</span>
                <span class="la-micro-list__desc">For settlers in New France, adapting to a new land ...
                  <span class="linklusion">Full Description</span>
                </span>
              </li>
              <li class="la-micro-list__item">
                <figure class="la-micro-list__figure">
                  <span class="la-micro-list__figure-icon"></span>
                  <img class="la-micro-list__image" src="/assets/images/IMG2018-0032-0197-Dm-thumbnail.jpg" width="100" height="100" alt=""
                  />
                </figure>
                <span class="la-micro-list__title">Artifact Hunt in the First Peoples’ Hall</span>
                <span class="la-micro-list__desc">Lorem ipsum dolor sit amet, consectetur adipiscing.
                  <span class="linklusion">Full Description</span>
                </span>
              </li>
              <li class="la-micro-list__item">
                <figure class="la-micro-list__figure">
                  <span class="la-micro-list__figure-icon"></span>
                  <img class="la-micro-list__image" src="/assets/images/IMG2018-0032-0197-Dm-thumbnail.jpg" width="100" height="100" alt=""
                  />
                </figure>
                <span class="la-micro-list__title">Baker, “Knead” a Hand</span>
                <span class="la-micro-list__desc">Children will discover the fascinating secrets behind that most universal of foods, bread! As they make an...
                  <span class="linklusion">Full Description</span>
                </span>
              </li>
            </ul>
            <!--/.la-activities__micro-list-->
            <!--  @Elijah: Hide <main /> when showing micro list. -->
            <!--
                        <main class="activity-list-item__main">
                            <figure class="activity-list-item__figure">
                                <a class="activity-list-item__image-link" href="#figure">
                                    <img class="activity-list-item__image" src="/assets/images/IMG2018-0032-0151-Dm.jpg" width="227" height="161" alt="" />
                                </a>
                                <button class="activity-list-item__rem-button"><span class="text">Remove Activity</span></button>
                                <button class="activity-list-item__swap-button">Swap Activity</button>
                            </figure>
                            <div class="activity-list-item__body">
                                <span class="activity-list-item__title">Traditions of the 
                                Anishinabe (Algonquin)</span>
                                <span class="activity-list-item__desc">Duis mollis, est non 
                                commodo luctus, nisi erat porttitor ligula, eget lacinia odio 
                                sem nec elit. Cras mattis consectetur purus sit amet fermentum.
                                <a href="#desc">Full Description</a>
                                </span>
                            </div>
                        </main>
                        -->
          </li>
          <li class="activity-list-item activity-list-item--add">
            <span class="activity-list-item__time"></span>
            <div class="activity-list-item__body">
              <button class="la-button la-button--add">Add Another Activity</button>
              <button class="la-button la-button--clr-primary">Next</button>
            </div>
          </li>
        </ul>
      </div>
      <!--/.la-activities-->

    </main>
  </div>
</section>

<!--
<div class="content">
  <div id="print" class="side-bar">
    <div class="first">
      <div style="float:left;margin:4%; font-size:1.5rem">{{'sidebar_head' | translate}}</div>
      <div style="float:right; background:#8a8d8a; width:17%; text-align:center; padding:5px; margin:4%; color:#fff; font-size:0.7rem; cursor:pointer"
        (click)="restart()">{{'sidebar_rst' | translate}}</div>
    </div>
    <ol>
      <li>
        <span *ngIf="step1">
          <label style="background:#BEBEBE">{{'sidebar_option1' | translate}}</label>
        </span>
        <span *ngIf="!step1">
          <label>{{'sidebar_option1' | translate}}</label>
        </span>
        <input type="checkbox" id="step1">
      </li>
      <li>
        <span *ngIf="step2">
          <label style="background:#BEBEBE">{{'sidebar_option2' | translate}}</label>
        </span>
        <span *ngIf="!step2">
          <label>{{'sidebar_option2' | translate}}</label>
        </span>
        <input type="checkbox" id="step2">
      </li>
      <li>
        <span *ngIf="step3">
          <label style="background:#BEBEBE">{{'sidebar_option3' | translate}}</label>
        </span>
        <span *ngIf="!step3">
          <label>{{'sidebar_option3' | translate}}</label>
        </span>
        <input type="checkbox" id="step3">
      </li>
      <li>
        <span *ngIf="step4">
          <label style="background:#BEBEBE">{{'sidebar_option4' | translate}}</label>
        </span>
        <span *ngIf="!step4">
          <label>{{'sidebar_option4' | translate}}</label>
        </span>

        <input type="checkbox" id="step4">
      </li>
      <li>
        <span *ngIf="step5">
          <label style="background:#BEBEBE">{{'sidebar_option5' | translate}}</label>
        </span>
        <span *ngIf="!step5">
          <label>{{'sidebar_option5' | translate}}</label>
        </span>
        <input type="checkbox" id="step5">
      </li>
      <li>
        <span *ngIf="!step6">
          <label>{{'sidebar_option6' | translate}}</label>
        </span>
        <div *ngIf="step6" style="width:95%; background:#BEBEBE; margin:auto;">
          <div style="width:90%; margin:auto;">
            <h3 style="padding:2%">{{'sidebar_option6' | translate}}</h3>
            <p style="padding:2%">Review your Itinerary plan and make sure everything looks good. Otherwise, go back and make changes where neccessary.
              When you're ready, submit your plan and we'll get in touch with next steps!</p>
            <button style="width:100%; background:red; color:#fff; padding:3%; margin-bottom:2%;">SUBMIT</button>
          </div>
        </div>
      </li>
    </ol>
  </div>

  <div class="itineraries2">

    <div style="height:5%; position:relative;">
      <div class="row2">
        <div class="left" (click)="create_Back()">
          <div class="arrow-left"></div>
        </div>

        <div class="back-title2">{{createTitle}}</div>

      </div>
      <app-select-grade *ngIf="step1" (nxt)="setStep2($event)" (prev)="setPrev($event)"></app-select-grade>
      <app-select-duration *ngIf="step2" (nxt)="setStep3($event)" (prev)="setPrev($event)"></app-select-duration>
      <app-calendar *ngIf="step3" (nxt)="setStep4($event)" (prev)="setPrev($event)" (newDate)="setDate($event)"></app-calendar>
      <div *ngIf="step4">
        <app-arrive-display [itinerary]="fetchTranslation('arrive')"></app-arrive-display>
        <div *ngIf="en">
          <app-activity-display *ngFor="let itinerary of itn_E" [itinerary]="itinerary" [langItems]="fetchTranslation('activities')"
            (item)="setItem($event)" (order)="emitOrder($event)" (notify)="notice($event)" (modify)="modify($event)" [showSwap]="showSwap"
            [showDet]="showDet" [description]="description"></app-activity-display>
        </div>
        <div *ngIf="fr">
          <app-activity-display *ngFor="let itinerary of itn_F" [itinerary]="itinerary" [langItems]="fetchTranslation('activities')"
            (item)="setItem($event)" (order)="emitOrder($event)" (notify)="notice($event)" (modify)="modify($event)" [showSwap]="showSwap"
            [showDet]="showDet" [description]="description"></app-activity-display>
        </div>

        <app-new-activity (set)="add($event)" (nxt)="setStep5($event)" (prev)="setPrev($event)"></app-new-activity>

      </div>
      <div *ngIf="step5">
        <app-submit-form></app-submit-form>
        <app-contact-info (nxt)="setStep6($event)" (prev)="setPrev($event)"></app-contact-info>
      </div>
      <div *ngIf="step6" id="printx">
        <app-review [id]="rId" [url]="url" [date]="date"></app-review>


        <div class="link">

          <div class="urlbox">

            <div class="url">
              <span>{{url}}</span>
            </div>

            <div>
              <button class="url-btn" ngxClipboard [cbContent]="url">COPY URL</button>
            </div>
          </div>


          <div class="printbox">

            <div>
              <button class="print" (click)="printDiv()">PRINT</button>
            </div>
            <div style="margin-right:13%;margin-left:2%">
              <button class="download" (click)="pdf()">DOWNLOAD PDF</button>
            </div>
          </div>
        </div>



        <div style="margin-top:25px;">
          <app-arrive-display [itinerary]="arrive"></app-arrive-display>
          <div *ngIf="en">
            <app-activity-display *ngFor="let itinerary of itn_E" [itinerary]="itinerary" (item)="setItem($event)" (order)="emitOrder($event)"
              (notify)="notice($event)" (modify)="modify($event)" [showSwap]="showSwap" [showDet]="showDet" [enableSwap]="enableSwap"
              [description]="description" [enableDelete]="enableDelete"></app-activity-display>
          </div>

          <div *ngIf="fr">
            <app-activity-display *ngFor="let itinerary of itn_F" [itinerary]="itinerary" (item)="setItem($event)" (order)="emitOrder($event)"
              (notify)="notice($event)" (modify)="modify($event)" [showSwap]="showSwap" [showDet]="showDet" [enableSwap]="enableSwap"
              [description]="description" [enableDelete]="enableDelete"></app-activity-display>
          </div>
        </div>
      </div>
    </div>

  </div>







</div>
<div>
</div>
-->