<div class="jumbotron container-fluid" style="padding:5%">

  <div style="margin-left:30%; background-color:white; width:38%; padding:3%">
    <div style="font-weight:bold; font-size:25px">
      SUBMITTING ITINERARY:
    </div>
    <div style="font-size:20px">
      FIRST AVE. GRADE3 CLASS- ITINERARY 1
    </div>
      <form>
          <div class="form-group" style="margin-top:1%">
            <label for="exampleInputEmail1" style="font-weight:bold; font-size:10px" >FIRST NAME:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" style="font-weight:bold; font-size:10px">LAST NAME:</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1" style="font-weight:bold; font-size:10px">SCHOOL/INSTITUTION:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" style="font-weight:bold; font-size:10px">NUMBER OF ATTENDEES:</label><br>
                <select class="custom-select" id="inputGroupSelect04" style="font-weight:bold; width:50%; font-size:13px">
                  <option selected>1 </option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                  <option value="3">4</option>
                </select>
              </div>
            <div class="form-group">
              <label for="exampleInputPassword1" style="font-weight:bold; font-size:10px">PHONE:</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" style="font-weight:bold; font-size:10px">EMAIL ADDRESS:</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
 
              <div class="form-group" >
                <div>
                <label for="exampleInputEmail1" style="font-weight:bold; font-size:10px">PREFERRED METHOD OF CONTACT:</label></div>
              <div style=" float:left; margin-left:5.8%; margin-right:10%;">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                 Phone
                  </label>
                </div>
                <div style="float:left; margin-right:9%;">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                 <label class="form-check-label" for="exampleRadios1">
                 Email
                  </label>
                </div>
                </div>
                <div class="form-group" style="margin-top:10%">
                    <div><label for="exampleInputEmail1" style="font-weight:bold; font-size:10px">PREFERRED TIME OF CONTACT:</label></div>
                    <div style="float:left; margin-right:2%; margin-top:3%; font-size:10px"> From</div><div style="width:36%; margin-right:3%; float:left">
                    <select class="custom-select" id="inputGroupSelect04" style="font-weight:bold; font-size:13px">
                      <option selected>9:30 AM </option>
                      <option value="1">2</option>
                      <option value="2">3</option>
                      <option value="3">4</option>
                    </select>
                    </div>
                    <div style="float:left; margin-right:2%; margin-top:3%; font-size:10px "> To</div><div style="width:36%; float:left">
                        <select class="custom-select" id="inputGroupSelect04" style="font-weight:bold; font-size:13px">
                          <option selected>9:30 AM </option>
                          <option value="1">2</option>
                          <option value="2">3</option>
                          <option value="3">4</option>
                        </select>
                        </div>
                  </div>
 
                  <div class="form-group" style="margin-top:15%">
                      <label for="exampleInputEmail1" style="font-weight:bold; font-size:10px">COMMENTS:</label>
                      <div style=" font-size:9.5px">Let us know about about any special instructions for contacting you or special needs for your group</div>
                      <div>
                        <textarea style="height:100px; width:98%;"></textarea>
                      </div>
                      </div>
 
                      <div id=footer>
                          <div style="margin-bottom:20px;">
                          <div>
                          <button type="button" class="btn btn-danger" id="new-btn" style="margin-top:2%;"> <div style="float:left;">SUBMIT</div></button>
                        </div>
                       
                    </div>
                    </div>
        </form>
  </div>
   </div>
