<!--<app-main-header></app-main-header>-->

<div class="main-header-tmp"></div>

<main>
    <div class="content-body">
        <h1 class="heading">Plan a School Trip</h1>
        <p class="subheading">Plan Your Day at the Museum</p>
        <div class="buttons">
            <a class="track-button" href="#browse" (click)="navigateToBrowsePage($event)">Browse Itineraries</a>
            <a class="track-button" href="#create" (click)="navigateToCreatePage($event)">Create Your Own</a>
        </div>
    </div>
</main>

<app-main-footer></app-main-footer>