<main-header (lang)="switchLanguage($event)"></main-header>

<main class="main">
    <div class="content-body">
        <h1 class="heading">{{'landing_page.heading' | translate}}</h1>
        <p class="subheading">{{'landing_page.subheading' | translate}}</p>
        <div class="buttons">
            <a class="track-button" href="#browse" (click)="navigateToBrowsePage($event)">{{'landing_page.button_browse' | translate}}</a>
            <a class="track-button" href="#create" (click)="navigateToCreatePage($event)">{{'landing_page.button_create' | translate}}</a>
        </div>
    </div>
</main>



<app-main-footer></app-main-footer>