<main-header (lang)="switchLanguage($event)" [en]="en" [fr]="fr"></main-header>

<main class="main">
    <div class="content-body">

        <h1 class="heading">{{'landing_page.heading' | translate}}</h1>
        <p class="subheading">{{'landing_page.subheading' | translate}}</p>
        <div class="buttons">
            <a class="track-button" href="javascript:void(0)" (click)="postForm()">Post Form</a>
            <a class="track-button" href="javascript:void(0)" (click)="navigateToBrowsePage($event)">{{'landing_page.button_browse' | translate}}</a>
            <a class="track-button" href="javascript:void(0)" (click)="navigateToCreatePage($event)">{{'landing_page.button_create' | translate}}</a>
        </div>
    </div>
</main>



<app-main-footer></app-main-footer>