@import 'variables.scss';
@import 'mixins.scss';

// Declare only local "page" variables here.
$subheading_font_size: 28;

/////////////////////////////////////////////////////////////////////////

main {
    clear:both;
    height:100vh;
    display:block; // inline by default.. (annoying)
    background-color:$chwm_grey_70;
    background-image:linear-gradient(rgba(0,0,0,0.75), transparent 50%),
    linear-gradient(transparent, rgba(0,0,0,0.3)),
    url('/assets/images/IMG2018-0032-0215-Dm.jpg');
    background-position:50% 80%;
    background-size:cover;
    float:left;
    width:100%;
    margin-top:-#{$main_header_height};
}
.content-body {
    font-family:$primary_font_family;
    @include vertical_align;
    display:table;
    margin:0 auto;
    color:#fff;
}
.heading {
    text-transform:uppercase;
    font-size:(44/16)+em;
}
.subheading {
    font-size:($subheading_font_size/16)+em;
    margin-top:(15/$subheading_font_size)+em;
}
.buttons {
    margin-top:(30/16)+em;
}
.track-button {
    float:left;
    display:block;
    color:inherit;
    cursor:pointer;
    padding:(20/16)+em;
    text-decoration:none;
    margin:0 (20/16)+em 0 0;
    background:$primary_clr;
    text-transform:uppercase;
    &:last-child {margin:0;}
    // Pseudo... Chop!
    &:hover, &:focus {background:$chwm_grey_50;}
}

/////////////////////////////////////////////////////////////////////////

// Media queries (breaking points) -- >
@media (min-width:#{$breaking_point_base_context}px) {
    main {font-size:21px;}
}
@media (max-width:#{$breaking_point_sml}px) {
    /**
    * The magic of em units means contextual, we can 
    * scale down everything relatively with one property.
    */
    // main {background:blue;}
    main {font-size:12px;}
}
@media (max-width:#{$breaking_point_xx_sml}px) {
    // main {background:lime;}
    main {font-size:11px;}
}
@media (max-width:#{$breaking_point_xxx_sml}px) {
    // main {background:gold;}
    main {font-size:10px;}
}
@media (max-width:#{nth($main_header_breaking_points, 7)}px), (max-height:650px) {
    main {margin-top:0;min-height:400px;height:50vh;}
}




