/* You can add global styles to this file, and also import other style files */
// @import url('https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css');
@import 'variables.scss';
@import 'mixins.scss';

html {
    font-size:16px;
    font-family:$base_font_family;
}
.linklusion { // Link illusion (span, styled to look like a link).
    text-decoration:underline;
    cursor:pointer;
}

/////////////////////////////////////////////////////////////////////////

.main-section {
  padding: 50px 40px 100px;
}
.main-section__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  &:after {
    @include clearfix;
  }
}
.main-section__aside {
  width: 35%;
  padding-right: 40px;
  float: left;
  @include borderbox;
  border-right: 1px solid $chwm_grey_30;
}
.main-section__aside-header {
  font-family: $primary_font_family;
  position: relative;
  margin-bottom: 30px;
  &:after {
    @include clearfix;
  }
}
.main-section__aside-heading {
  text-transform: uppercase;
  float: left;
  font-size: 21px;
}
.ms__aside-groups {
  // "ms" abbreviated parent block name (main-section).
  clear: both;
}
.ms__aside-group-heading {
  display: block;
}
.ms__aside-header-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  background: $chwm_grey_50;
  padding: 6px 8px;
  color: #fff;
}
.ms__aside-group {
  margin-bottom: 30px;
  font-family: $primary_font_family;
}
.ms__aside-group-heading {
  color: $chwm_grey_60;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ms__aside-label {
  display: block;
  clear: both;
  padding: 1px 0;
  cursor: pointer;
  position: relative;
  margin-bottom: 12px;
  &:last-child {
    margin: 0;
  }
  &:after {
    @include clearfix;
  }
  &:hover {
    $opacity: 0.6;
    .text {
      opacity: $opacity;
    }
    input:checked + .faux-checkbox {
      background-color: darken($faux_input_on_colour, 10%);
    }
    input:not(:checked) + .faux-checkbox {
      opacity: $opacity;
    }
  }
  input {
    display: none;
  } // !! not keyboard accessible, will revisit later.
  .text {
    width: calc(100% - #{21px + 20px});
    float: left;
    line-height: 1.3;
  }
  input:checked + .faux-checkbox {
    background-color: $faux_input_on_colour;
    background-image: url('/assets/images/icon-checkmark.svg');
    background-position: 50% 52%;
    background-size: 10px 9px;
    background-repeat: no-repeat;
    border: 0;
  }
}
.faux-checkbox {
  @include faux_checkbox;
}
$main_back_link_button_size: 32px;
.main-section__main {
  float: left;
  $left_margin: 40px;
  width: calc(65% - #{$left_margin});
  margin-left: $left_margin;
  height: 100%; // !! temp assignment, make sure to remove.
  header {
    margin-bottom: 30px;
    position: relative;
    padding-left: $main_back_link_button_size + 20px;
    //min-height:$main_back_link_button_size;
    &:after {
      @include clearfix;
    }
  }
}
.msm__back-link {
  display: block;
  float: left;
  background: $chwm_grey_50;
  width: $main_back_link_button_size;
  height: $main_back_link_button_size;
  text-indent: -999em;
  @include border-radius(50%);
  @include vertical_align;
  position: absolute;
  left: 0;
  &:after {
    // Arrow.
    $arrow_width: 5px;
    $arrow_height: 4px;
    position: absolute;
    top: calc(50% - #{$arrow_height});
    left: calc(50% - #{($arrow_width/2)+1});
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-right: $arrow_width solid #fff;
    border-top: $arrow_height solid transparent;
    border-bottom: $arrow_height solid transparent;
  }
  &:active {
    background: darken($chwm_grey_50, 10%);
  }
}
.msm__heading {
  font-family: $primary_font_family;
  float: left;
}

/////////////////////////////////////////////////////////////////////////

.la-button {
  float: left;
  display: block;
  text-transform: uppercase;
  font-family: $primary_font_family;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  background: $chwm_grey_50;
  // Pseudo.
  &:active {
    background: darken($chwm_grey_50, 10%);
  }
}
// Sub Classes (.la-button).
.la-button--utils-bar {
  padding: 0 20px;
  height: $utils_els_height;
  margin-left: 10px;
}
.la-button--clr-primary {
  background: $primary_clr;
}
.la-button--add {
  width: 227px;
  margin-right: 30px;
}

/////////////////////////////////////////////////////////////////////////

.la-activities__micro-list {
    padding:20px;
    padding-bottom:0;
    background:#e5e5e5;
    /*
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    @include transition(transform 500ms ease);
    @include transform(translateX(100vw));
    &.on {@include transform(translateX(0));}
    */
    &:after {@include clearfix;}
}
.la-micro-list__item {
    float:left;
    width:50%;
    @include borderbox;
    display:block;
    font-size:13px;
    margin-bottom:20px;
    &:nth-child(odd) {padding-right:30px;clear:left;}
    // &:nth-child(even) {background:yellow;}
    // Breaking point... Single file.
    width:100%;
    clear:both;
    &:nth-child(odd) {padding:0;}
}

$la_micro_list_figure_border_size: 3px;
$la_micro_list_figure_border_clr: #979797;

.la-micro-list__figure {
    float:left;
    margin-right:10px;
    cursor:pointer;
    @include borderbox;
    border-style:solid;
    border-color:$la_micro_list_figure_border_clr;
    border-width:$la_micro_list_figure_border_size;
    position:relative;
    background:#000;
    // States.
    &:hover {
        opacity:0.7;
    }
    .selected & {
        border-color:$faux_input_on_colour;
        &:hover {opacity:1;cursor:default;}
    }
}

/////////////////////////////////////////////////////////////////////////

// Default state is "unselected".
.la-micro-list__figure-icon {
    background-color:#fff;
    border-style:solid;
    border-color:$la_micro_list_figure_border_clr;
    border-width:$la_micro_list_figure_border_size;
    width:22px;
    @include borderbox;
    height:22px;
    display:block;
    position:absolute;
    top:-$la_micro_list_figure_border_size;
    left:-$la_micro_list_figure_border_size;
    // The actual icon, (not including it's bounding box).
    &:after {
        display:table;
        content:'';
        width:10px;
        height:9px;
        @include vertical_align;
        margin:0 auto;
        background-repeat:no-repeat;
        background-position:50%;
        background-size:100%;
    }
    // Sub classes for figure icon.
    // 1. Selected
    // 2. Swap
    .selected & {background-color:$faux_input_on_colour;border-color:$faux_input_on_colour;}
    .selected &:after {background-image:url('/assets/images/icon-checkmark.svg');}
    .swap & {background-color:$la_micro_list_figure_border_clr;}
    .swap &:after {
        width:11px;
        height:13px;
        background-image:url('/assets/images/icon-swap_white.svg');
        top:calc(50% + 1px);
    }
}
.la-micro-list__image {
    display:block;
    width:70px;
    height:70px;
}
.la-micro-list__title {
    font-weight:bold;
    display:block;
    margin-bottom:7px;
    font-family:$primary_font_family;
    line-height:1.25;
}
.la-micro-list__desc {
    line-height:1.5;
    overflow:hidden;
    display:block;
}

/////////////////////////////////////////////////////////////////////////

$activity_list_item_time_bg_clr: #d8d8d8;

.la-activities {
    overflow:hidden;
    padding-left:100px;
    margin-top:40px;
}
.activity-list-item {
    display:block;
    position:relative;
    border-left:3px solid $activity_list_item_time_bg_clr;
    padding-left:30px;
    padding-bottom:30px;
    &:after {@include clearfix;}
}
.activity-list-item--add {
  border: 0;
  padding-bottom: 0;
  padding-left: 33px; // Re-aligns layout after removing border.
  .activity-list-item__body {
    overflow: visible;
  }
  .activity-list-item__time {
    right: calc(100% - 3px); // border offset. todo: Create var.
    width: 28px;
    height: 28px;
    &:before,
    &:after {
      @include transform(translateY(-50%) translateX(-50%));
      position: absolute;
      background: #000;
      display: block;
      content: '';
      top: 50%;
      left: 50%;
    }
    &:before {
      width: 12px;
      height: 2px;
    }
    &:after {
      width: 2px;
      height: 12px;
    }
  }
}
.activity-list-item__rem-button {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
  left: 0;
  background-color: #fff;
  background-image: url('/assets/images/icon-remove.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 50%;
  .text {
    position: absolute;
    left: -999em;
    top: 0;
  }
}
.activity-list-item__swap-button {
  display: block;
  background: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: #fff;
}
.activity-list-item__image-link {
  display: block;
  background: purple;
  &:hover img {
    opacity: 0.5;
  }
}
.activity-list-item__image {
  display: block;
}
.activity-list-item__time {
  position: absolute;
  top: 0;
  right: 100%;
  margin-left: -100%;
  display: block;
  float: left;
  padding: 7px 10px;
  @include borderbox;
  font-size: 13px;
  background: $activity_list_item_time_bg_clr;
  font-weight: normal;
  text-transform: uppercase;
  font-family: $primary_font_family;
}
.activity-list-item__title {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.3;
}
.activity-list-item__desc {
  display: block;
  line-height: 1.6;
  a {
    background: rgba(0, 0, 0, 0.075);
    font-style: italic;
    padding: 0 3px;
  }
}
.activity-list-item__body {
  overflow: hidden;
}
.activity-list-item__figure {
  position: relative;
  margin-right: 30px;
  display: block;
  float: left;
}